<div class ='form_wrapper'>
 <h1 class ='heading'>Communication reports</h1>
 <hr /><br />
 <% form_for(:report, :url => class_reports_path, :html => {:id => 'main-form',:method => :get}) do |f| %>
 Class:<%= f.select :group_id, find_all_groups%>
 Month: <%= f.select :month ,[["This month","tm"],["Last month", "lm"], ["Last 2 months", "l2"], ["Last 3 months", "l3"], ["Last 4 months", "l4"]]%>
 Communication type: <%= f.select :type ,[["Message","messages"],["Email", "emails"], ["Letter", "letters"]]%>
    <%= f.submit "Report" %>
    <%= link_to_function "List", "jQuery('#graph').hide(); jQuery('#list').show(); return false;" %> |
     <%= link_to_function "Pie Chart", "jQuery('#graph').show(); jQuery('#list').hide(); return false;" %> 
  <%end%>
  <br /><br />

   <%unless @type.nil?%>
   	 <label><%= "Total #{@type}s sent to #{@group.name rescue 'classes'} in #{@month}" %></label>
   <%else%>
     <h2>Messages sent in <%= month_print(Time.now.month)%> </h2>
   <%end%>  
<div id = 'graph' style ="display:none ; clear:both;">
   <%= render :partial =>"shared/pie_graph"%>
   </div> 
  <div id ="list">
  <br />
   <%unless @classes.nil?%>
  <table class="student_group" width="100%" border="1" cellpadding="5px">
   <th>Class name</th>
   <th>Total</th>
  <%@classes.each do |group|%>
  <tr>
    <td><%= group.name%></td>
    <td><%= @class[group.id].nil? ? 0 : @class[group.id] %></td>
  </tr>
  <%end%>
   </table>
 <%end%>
 <%unless @communication.nil?%>
    <h3>Total: <%= @communication.size.nil? ? 0 : @communication.size %> </h3>
    <table class="student_group" width="100%" border="1" cellpadding="5px">
   <th>Student name</th>
   <th>Total</th>
  <% @students.each do |student|%>
<tr>
  <td><%= student.name%></td> 
  <td><%= @students_communication_size[student.id].nil? ? 0 : @students_communication_size[student.id]%></td>
  </tr>   
  <%end%>
  </table>
  <%end%>
  </div>
</div> 
