<div class='form_wrapper'>
  <div class ="create_new">

<% form_for (@mark, :url=>mark_path(@mark)) do |f| %>
  <table width="40%">
  <%= hidden_field_tag("exam_id",@exam.id)%>
 <%= hidden_field_tag("group_id",@group.id)%>
<tr> 
   <th> Student name</th>
   <%@exam.subjects.find(:all).each do |subject|%>
<th> <%=subject.name%></th>
   <%end%>   
</tr>
 <%@group.students.find(:all).each do |student|%>
   <tr><td> <%=student.name%></td>
<%@exam.subjects.find(:all).each do |subject|%>
  <td><%= text_field_tag("marks[#{student.id}][#{subject.id}]mark",find_mark(@group,@exam,subject,student),:class => "text-small") %></td>
  <%end%>
</tr>
<% end %>
 </table>
<div id="exams"></div>
  <span>
    <%= f.submit 'Update' %>
  </span>

<% end %>
</div>
</div>
