<div class='form_wrapper'>
  <div>
    <%if current_user.has_role?('teacher')%>
      <span class ='right'><%= link_to "<span>New Mark</span>", new_mark_path , :class => 'buttonAdd'%></span>
    <%end%>
    <h1 class ="heading left">Listing Marks</h1>
    <div class="clear"></div>
  </div>


<table class="listing">
  <tr>
    <th>Exam</th>
    <th>Student</th>
    <th>Subject</th>
    <th>Mark</th>
  </tr>

<% @marks.each do |mark| %>
  <tr class="<%=cycle("odd", "even")%>">
    <td><%=h mark.exam.exam_type %></td>
    <td><%=h mark.student.name %></td>
    <td><%=h mark.subject.name %></td>
    <td><%=h mark.mark %></td>
    <td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>', mark%></td>
  </tr>
<% end %>
</table>
<br />
<div class="clear"></div>
</div>
