<div class='form_wrapper'>
  <div class ="create_new">

<% form_for (:mark, :url=> create_mark_individual_subject_marks_path(:exam_id => @exam.id,:group_id => @group.id,:subject_id => @subject.id), :html => {:method => :post,:id => 'main-form'}) do |f| %>
  <table width="40%"> 
<tr> 
   <th> <b>Student name</b></th>
   <th> <%=@subject.name%></th>
   </tr>
 <%@group.students.find(:all,:group => :name,:conditions =>['status =?','Active']).each do |student|%>
   <tr><td> <%=student.name%></td>
 <td><%= text_field_tag("marks[#{student.id}][#{@subject.id}]mark",'',:class => "text-small") %></td>
  </tr>
<% end %>
 </table>
<div id="exams"></div>
  <span>
    <%= f.submit 'Create' %><%=link_to "Back",:back%>
  </span>

<% end %>
</div>
</div>
