<div class='form_wrapper'>
  <div class ="create_new">
  <h1 class='heading'> <%= @exam.name%></h1>
<% form_for (:mark, :url=>marks_path(:exam_id => @exam.id,:group_id => @group.id), :html => {:id => 'main-form'}) do |f| %>
  <table width="40%"> 
<tr> 
   <th><b> Student name</b></th>
   <%@exam.subjects.find(:all,:group => :name).each do |subject|%>
<th> <%=subject.name%></th>
   <%end%>   
</tr>
 <%find_group_studnets(@group).each do |student|%>
   <tr><td> <%=student.name%></td>
<%find_exam_subjects(@exam).each do |subject|%>
  <td><%= text_field_tag("marks[#{student.id}][#{subject.id}]mark",'',:class => "text-small") %></td>
  <%end%>
</tr>
<% end %>
 </table>
<div id="exams"></div>
  <span>
    <%= f.submit 'Create' %><%=link_to "Back",:back%>
  </span>

<% end %>
</div>
</div>








