<div class='form_wrapper'>
<h1 class ='heading'>Editing subject</h1>
<div class="create_new">

<% form_for([:admin,@subject],:url => admin_subject_path(@subject),:html => {:multipart => true} ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :subject_name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :short_code %><br />
    <%= f.text_field :short_code %>
  </p>
  <p>
    <%= f.label :max_marks %><br />
    <%= f.text_field :max_marks %>
  </p>
  <p>
    <%= f.label :passing_marks %><br />
    <%= f.text_field :passing_marks %>
  </p>
 <p>
    <%= f.label :use_grade %><br />
    Yes:<%= f.radio_button :use_grade,1,:checked=> (@subject.use_grade? ? true :false)%>
    No:<%=f.radio_button :use_grade, 0,:checked=> (!@subject.use_grade? ? true :false)%>
  </p>
   <p>
    <%= f.label :description %><br />
    <%= f.text_area :description%>
  </p>
    <span><%= f.submit 'Update' %></span>
 
<% end %>
</div>
	<div class="clear"></div> 
	</div>

