<div class='form_wrapper'>
<h1 class ='heading'>Editing subject</h1>
<div class="create_new">

<% form_for([:admin,@subject],:url => admin_subject_path(@subject),:html => {:multipart => true} ) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :subject_name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :short_code %><br />
    <%= f.text_field :short_code %>
  </p>
  <p>
    <%= f.label :max_marks %><br />
    <%= f.text_field :max_marks %>
  </p>
  <p>
    <%= f.label :passing_marks %><br />
    <%= f.text_field :passing_marks %>
  </p>
 <p>
    <%= f.label :select_class %><br />
  
               <% admin = current_user.has_role?('admin') ? current_user : User.find(current_user.parent_id) rescue ''%>
    	       <%= f.select :group_id, [['Select class', '']] + current_user.groups.find(:all,:conditions =>['status = ?','Active']).map{|m|[m.name,m.id]} %>
  </p>
  
    <span><%= f.submit 'Update' %></span>
 
<% end %>
</div>
	<div class="clear"></div> 
	</div>

