<% form_for([:admin,@subject],:url => admin_subject_path(@subject),:html => {:multipart => true} ) do |f| %>
  <%= f.error_messages %>
 <table class="form_style">
  <tr>
    <th><br /><h1 class ='heading'>Editing Subject</h1></th>
    <td></td>
  </tr>
  <tr>
    <th><%= f.label :subject_name %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th><%= f.label :short_code %></th>
    <td><%= f.text_field :short_code %></td>
  </tr>
  <tr>
    <th><%= f.label :max_marks %></th>
    <td><%= f.text_field :max_marks %></td>
  </tr>
  <tr>
    <th><%= f.label :passing_marks %></th>
    <td><%= f.text_field :passing_marks %></td>
  </tr>
  <tr>
    <th><%= f.label :use_grade %></th>
    <td>Yes:<%= f.radio_button :use_grade,1,:checked=> (@subject.use_grade? ? true :false)%>
    No:<%=f.radio_button :use_grade, 0,:checked=> (!@subject.use_grade? ? true :false)%></td>
  </tr>
   <tr>
    <th><%= f.label :description %></th>
    <td><%= f.text_area :description%></td>
  </tr>
 </table>
 <div class="btns" style="margin-left:155px;"><span><%= f.submit 'Update' %></span></div>
 
<% end %>
<div class="clear"></div> 


