<div class='form_wrapper'>
  <div>
    <span class ='right'><%= link_to "<span>Add new subject</span>", new_admin_subject_path , :class => 'buttonAdd'%></span>
    <h1 class ="heading left">Listing subjects</h1>
    <div class="clear"></div>
  </div>
<table class="listing">
  <tr>
    <th>Name</th>
    <th>Short code</th>
    <th>Max marks</th>
    <th>Passing marks</th>
    <th>Use grade</th>
      <th>Action</th> 
  </tr>

<% @subjects.each do |subject| %>
  <tr class="<%=cycle("odd", "even")%>">
    <td><%=h subject.name %></td>
    <td><%=h subject.short_code %></td>
    <td><%=h subject.max_marks %></td>
    <td><%=h subject.passing_marks %></td>
    <td><%= h (subject.use_grade? ? "Yes" :"No")%>
    <td><%= link_to 'Edit', edit_admin_subject_path(subject) %></td>
  </tr>
<% end %>
</table>

<br />

<div class="clear"></div>
</div
