<div class='form_wrapper'>
  <div class ="create_new">

<% form_for(:subject,:url => admin_subjects_path,:html => {:method => :post} )do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :subject_name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :short_code %><br />
    <%= f.text_field :short_code %>
  </p>
  <p>
    <%= f.label :max_marks %><br />
    <%= f.text_field :max_marks %>
  </p>
  <p>
    <%= f.label :passing_marks %><br />
    <%= f.text_field :passing_marks %>
  </p>
  <p>
    <%= f.label :select_class %><br />
    <%= f.select :group_id, all_groups %>
  </p>

  <span>
    <%= f.submit 'Create' %>
</span>
<% end %>

<%= link_to 'Back', admin_subjects_path %>
 </div>
<div class="clear"></div>
</div>
