 <div class ='form_wrapper'>
 <h1 class ='heading'>Teacher wise report</h1>
 <hr /><br />
 <% form_for(:report, :url => admin_teacher_reports_path, :html => {:id => 'main-form',:method => :get}) do |f| %>
  Month: <%= f.select :month ,[["This month","tm"],["Last month", "lm"], ["Last 2 months", "l2"], ["Last 3 months", "l3"], ["Last 4 months", "l4"]],:selected => (params[:report][:month] unless params[:report].nil?)%>
    Communication type:<%= f.select :type ,[["Message","messages"],["Email", "emails"], ["Letter", "letters"]],:selected => (params[:report][:type] unless params[:report].nil?)%>
     <%= f.submit "Get report" %> &nbsp;&nbsp;&nbsp;&nbsp;
     <%= link_to_function "#{image_tag('table.png')} List", "jQuery('#graph').hide(); jQuery('#list').show(); return false;" %> &nbsp; | &nbsp;
     <%= link_to_function "#{image_tag('chart_pie.png')} Pie Chart", "jQuery('#graph').show(); jQuery('#list').hide(); return false;" %> 
  <%end%>
  <br /><br />
    <%unless @type.nil?%>
   		<label><%= "Teacher wise total sent  #{@type} #{display(@month)}"%> </label>
   <%else%>
    	 <label>Teacher wise total  sent messages in the month of <%= month_print(Time.now.month)%> -<%= Time.now.strftime('%y')%> </label>
   <%end%> 
<%unless @teachers.nil?%>
<div id = 'graph' style ="display:none ; clear:both; border: 1px solid #ccc; width: auto;">
   <%= render :partial =>"shared/pie_graph"%>
 </div> 
  <div id ="list">
  <br /> <br />
   <table class="student_group" width="100%" border="1" cellpadding="5px">
   <th>Teacher name</th>
   <th>Total</th>
  <%@teachers.each do |teacher|%>
  <tr>
    <td><%= teacher.name%></td>
    <td><%= @teacher[teacher.id].nil? ? 0 :@teacher[teacher.id] %></td>
  </tr>
  <%end%>
   </table>
 <%end%>
   </div>
    </div>
