<div class="form_wrapper">
  <h1 class = 'heading left'>Message sent to <span><%= @message.group_id.nil? ? @message.number : @message.group.name  %></span> </h1>
  <div class = 'right'<%= link_to image_tag("closelabel.gif", :title=> "close") ,messages_path%> </div>
  <div class="clear" ></div>
  <hr />

   <table class="show_page">
		<tr>		
		    <td><%=h @message.created_at.strftime('%d-%m-%Y') %></td>
                    <td><%=h @message.user.name %></td>
		</tr>
                <tr> <td colspan = '2' style ='border: 1px solid #ccc; background: #eef2f6; width: 300px;'><%=h @message.message_body %></td> </tr>
                <%unless @message.tag_id.nil?%>
                   <tr>
		     <th>Message tag:</th><td><%=h @message.tag.name%></td>
		   </tr>
                <%end%>

		<%if @message.sms_id!=nil%>	
		<tr>
	    <td class = <%= column_class(@message.status) %>><h3>Status:<%= @message.status%></td>
      </td>
		</tr>
		<%end%>
		<%if @message.sms_id==nil and @students.blank?%>
	  	<tr>
			 <td class = <%= column_class('Failed') %>><h3>Status:Failed</td>
     </td>
		</tr>
		<%end%>
	</table>
       <table class="student_letter">
		<tr>
 		   <%if !@students.blank? %>
                        <th>Roll number</th>
			<th>Student name</th>
                        <th>Parent name</th>
                        <th>Mobile number</th>
	   	        <th>Status</th>
                        <th>Re-send</th>
		</tr>
		<%@students.each do  |student|%>
                <% status = find_message_status(@message, student) %>
		<tr class="<%=cycle("odd", "even")%>">
                        <td><%= student.roll_number%></td>
			<td><%= student.name%></td>
	  		<td><%= student.parent%></td>
                        <td><%= student.number%></td>
   			<td class = <%= column_class(status) %>><%= status%></td>
                        <td><%= button_to 'Re-send', student_message_resend_message_path(:message_id => @message,:student_id => student), :disabled => disabled(status),:method => :get%></td>
		</tr>
		<%end%>
		<%end%>

		 
	</table>
        <br />
	<%= button_to "Delivery status", status_update_message_path(@message)%> 
</div>

