<div class='form_wrapper'>
  <div class ="create_new">

<% form_for(:exam,:url => admin_exams_path,:html => {:method => :post})do |f| %>
   <%= f.error_messages %>
  <p>
    <%= f.label :select_class %><br />
    <%= f.select :group_id, all_groups %>
  </p>

  <%= observe_field("exam_group_id", :frequency => 1,
                  :before => "jQuery('#spinner1').show();",
                  :success => "jQuery('#spinner1').hide();",
                  :url => {:action=>'groups'}, 
				    :method => :get,
                  :with => "'group_id=' + value") %>
				  
    	 
            <%= image_tag("spinner.gif",
               			:border => 0,
              			:id => "spinner1",
			        :style =>"display: none;" ) %>   

  <div id = "subjects">
    
  </div>
  <p>
    <%= f.label :exam_type %><br />
    <%= f.text_field :exam_type %>
  </p>
  <p>
    <%= f.label :conducted_on %><br />
    <%= f.text_field :conducted_on,:class =>'textbox-small' ,:id => 'date'%>
  </p>
  <div id = "maximum_marks">

  </div>
    
  <span>
    <%= f.submit 'Create' %>
  </span>

  <% end %>
  </div>


         


<div class="clear"></div>
</div>
