<div class ='form_wrapper'>
 <h1 class ='heading'>Class wise report</h1>
 <hr /><br />
 <% form_for(:report, :url => admin_class_reports_path, :html => {:id => 'main-form',:method => :get}) do |f| %>
 Class:<%= f.select :group_id, find_all_groups,:selected => (@group.id unless @group.nil?)%>
 Month: <%= f.select :month ,[["This month","tm"],["Last month", "lm"], ["Last 2 months", "l2"], ["Last 3 months", "l3"], ["Last 4 months", "l4"]],:selected => (params[:report][:month] unless params[:report].nil?)%>
 Communication type: <%= f.select :type ,[["Message","messages"],["Email", "emails"], ["Letter", "letters"]],:selected => (params[:report][:type] unless params[:report].nil?)%>
    <%= f.submit "Get report" %>&nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to_function "#{image_tag('table.png')} List", "jQuery('#graph').hide(); jQuery('#list').show(); return false;" %> &nbsp; | &nbsp;
     <%= link_to_function "#{image_tag('chart_pie.png')} Pie Chart", "jQuery('#graph').show(); jQuery('#list').hide(); return false;" %> 
  <%end%>
  <br /><br />

   <%unless @type.nil?%>
   	 <label><%= "Total #{@type} sent to #{@group.name rescue 'all classes'} #{display(@month)}"%> </label>
   <%else%>
     <label>Total messages sent to all classes  in the month of<%= month_print(Time.now.month)%>-<%= Time.now.strftime('%y')%> </label>
   <%end%>  
<div id = 'graph' style ="display:none ; clear:both; border: 1px solid #ccc; width: auto;">
   <%= render :partial =>"shared/pie_graph"%>
   </div> 
  <div id ="list">
  <br />
   <%unless @classes.nil?%>
  <table class="student_group" width="100%" border="1" cellpadding="5px">
   <th>Class name</th>
   <th>Total</th>
  <%@classes.each do |group|%>
  <tr>
    <td><%= group.name%></td>
    <td><%= @class[group.id].nil? ? 0 : @class[group.id] %></td>
  </tr>
  <%end%>
   </table>
 <%end%>
 <%unless @students.nil?%>
    <h3>Total:<%= @sizes.nil? ? 0 : @sizes.sum %> </h3>
    <table class="student_group" width="100%" border="1" cellpadding="5px">
   <th>Student name</th>
   <th>Total</th>
  <% @students.each do |student|%>
<tr>
  <td><%= student.name%></td> 
  <td><%= @students_communication_size[student.id].nil? ? 0 : @students_communication_size[student.id]%></td>
  </tr>   
  <%end%>
  </table>
  <%end%>
  </div>
</div> 
