<div class="Edit_show" id = 'student'>
 <h1 class = 'heading left'>Editing <span> <%= @student.name %></span>'s record</h1>
  <div class = 'right'><%= link_to image_tag("closelabel.gif", :title=> "close"), students_url %> </div>
 <div class="clear" ></div>
  <hr />
	<fieldset>
		<% form_for(@student,:url => student_path ,:html => {:id => 'main-form',:method => :put}) do |f| %>
  		<%= f.error_messages %>
		<p>
    			<%= f.label :name %><br />
    			<%= f.text_field :name %>
  		</p>
  		<p>
       			<%= f.label :Roll_number %><br />
       			<%= f.text_field :roll_number%>
      		</p>
  		<p>
    			<%= f.label :parent %><br />
    			<%= f.text_field :parent %>
  		</p>
  		<p>
    			<%= f.label :Mobile_number %><br />
    			<%= f.text_field :number %>
  		</p>
  		<p>
    			<%= f.label :address %><br />
    			<%= f.text_area :address %>
  		</p>
  		<p>
    			<%= f.label :email %><br />
    			<%= f.text_field :email %>
  		</p>

  	        <br /> 
  		<p><label>Classes/Groups</label>
  	</p>
 		<%@groups.each do |group|%>
    		<p><%= check_box_tag("groups[]", group.id, true,:id=> group.id)%>
   		<%= h group.name%>
		</p>
   		<%end%>

 		<p>
  		<%@non_groups.each do |non_group| %>
  		<p>
      		  <%= check_box_tag("groups[]", non_group.id, false, :id=> non_group.id)%>
    		   <%=h non_group.name %>
		</p>
    		<%end%>
		</p>
  		
    		   <table><tr><td> <span><%= f.submit 'Update record' %></span> 
    		   	<% end %>
    		   or</td><td> 
    		     <%if current_user.has_role?('admin')%>
	      
               <%if @student.status=='Active'%>
                  <td><span> <%= button_to 'Make this student inactive', make_inactive_student_path(@student),:method => :get %> </span></td>
               <%else%>
                  <td><span><%= button_to 'Make this class active', make_active_student_path(@student),:method => :get %></span></td> 
               <%end%>
             <%end%>
   
</td></tr></table>
  		</fieldset>
</div>
