<div class="clear"></div>
<div class="Edit_show">
	<fieldset>
		<% form_for(@student,:html => {:id => 'main-form'}) do |f| %>
  		<%= f.error_messages %>
		<p>
    			<%= f.label :name %><br />
    			<%= f.text_field :name %>
  		</p>
  		<p>
       			<%= f.label :Roll_number %><br />
       			<%= f.text_field :roll_number%>
      		</p>
  		<p>
    			<%= f.label :parent %><br />
    			<%= f.text_field :parent %>
  		</p>
  		<p>
    			<%= f.label :Mobile_number %><br />
    			<%= f.text_field :number %>
  		</p>
  		<p>
    			<%= f.label :address %><br />
    			<%= f.text_area :address %>
  		</p>
  		<p>
    			<%= f.label :email %><br />
    			<%= f.text_field :email %>
  		</p>
  	
  		<p><label>Classes/Groups</label>
  		<!-- <input type='checkbox' title ="Check All/Uncheck" name='checkall' onclick='checkedAll();'>(Check all/Uncheck all)-->
		</p>
 		<%@groups.each do |group|%>
    		<p><%= check_box_tag("groups[]", group.id, true,:id=> group.id)%>
   		<%= h group.name%>
		</p>
   		<%end%>
 		<p>
  		<%@non_groups.each do |non_group| %>
  		<p>
      		<%= check_box_tag("groups[]", non_group.id, false,:id=> non_group.id)%>
    		 <%=h non_group.name %>
		</p>
    		<%end%>
		</p>
  		<p>
    			<span><%= f.submit 'Update' %></span>
  		</p>
		<% end %>
	</fieldset>
</div>
