
<%= stylesheet_link_tag 'style','redmond/jquery-ui-1.7.2.custom'%>
  	<%=javascript_include_tag 'jquery-1.3.2.min','jquery-ui-1.7.2.custom.min','jrails','datepicker','jquery.cookie','jquery.simplyCountable.js','facebox','jquery.corner','dropdown.js'%>
<div class="Edit_show" id = 'student'>
 <h1 class = 'heading left'>Editing <span> <%= @student.name %></span>'s record</h1>
  <div class = 'right'><%= link_to image_tag("closelabel.gif", :title=> "close"), students_url %> </div>
 <div class="clear" ></div>
  <hr />
	<fieldset>
		<% form_for(@student,:url => student_path ,:html => {:id => 'main-form',:method => :put}) do |f| %>
  		<%= f.error_messages %>
		<p>
    			<%= f.label :name %><br />
    			<%= f.text_field :name %>
  		</p>
  		
  	
  		<p>
    			<%= f.label :Gender %><br />
    			<%= f.select :gender,[['Male','male'],['Female','female']] %>
  		</p>
                  
                 <p>
    			<%= f.label :Language %><br />
    			<%= f.text_field :language %>
  		</p>
                  
                   <p>
    			<%= f.label :Blood_group %><br />
    			<%= f.text_field :blood_group %>
                      </p>
                      <p>
    			<%= f.label :Date_of_admission %><br />
                       <%= f.text_field :date_of_admission,:class =>'textbox-small' ,:id => 'date2'%></p>
               <p>
    			<%= f.label :Date_of_passing %><br />
                       <%= f.text_field :date_of_passing,:class =>'textbox-small' ,:id => 'date3'%></p>
               
                   <p>
    			<%= f.label :Date_of_birth %><br />
                           <%= f.text_field :dob,:class =>'textbox-small' ,:id => 'date4'%></p>
                
                <p>
       			<%= f.label :admission_number %><br />
       			<%= f.text_field :admission_number%>
      		</p>
   		<p>
    			<%= f.label :Student_mobile_number %><br />
    			<%= f.text_field :student_mobile_number %>
  		</p>
  		<p>
    			<%= f.label :address %><br />
    			<%= f.text_area :address %>
  		</p>
  		<p>
    			<%= f.label :Student_email %><br />
    			<%= f.text_field :student_email %>
  		</p>
                <p>
    			<%= f.label :Contact_mobile %><br />
    			<%= f.text_field :number %>
  		</p>
               <p>
    			<%= f.label :Mother_name %><br />
    			<%= f.text_field :mother %>
  		</p>
                <p>
    			<%= f.label :Mother_mobile %><br />
    			<%= f.text_field :mother_mobile %>
  		</p>
                   
                     <p>
    			<%= f.label :Father_name %><br />
    			<%= f.text_field :father %>
  		</p>
                  <p>
    			<%= f.label :Father_mobile %><br />
    			<%= f.text_field :father_mobile %>
  		</p>
                 
                  <p>
    			<%= f.label :Guardian_name %><br />
    			<%= f.text_field :guardian %>
  		</p>
<p>
    			<%= f.label :Guardian_mobile %><br />
    			<%= f.text_field :guardian_number %>
  		</p>
                <p>
    			<%= f.label :email %><br />
    			<%= f.text_field :email %>
  		</p>
              
  	        <br /> 
  		<p><label>Classes/Groups</label>
  	</p>
 		<%@groups.each do |group|%>
    		<p><%= check_box_tag("groups[]", group.id, true,:id=> group.id)%>
   		<%= h group.name%>
		</p>
   		<%end%>

 		<p>
  		<%@non_groups.each do |non_group| %>
  		<p>
      		  <%= check_box_tag("groups[]", non_group.id, false, :id=> non_group.id)%>
    		   <%=h non_group.name %>
		</p>
    		<%end%>
		</p>
  		
    		   <table><tr><td> <span><%= f.submit 'Update record' %></span> 
    		   	<% end %>
    		   or</td><td> 
    		     <%if current_user.has_role?('admin')%>
	      
               <%if @student.status=='Active'%>
                  <td><span> <%= button_to 'Make this student inactive', make_inactive_student_path(@student),:method => :get %> </span></td>
               <%else%>
                  <td><span><%= button_to 'Make this class active', make_active_student_path(@student),:method => :get %></span></td> 
               <%end%>
             <%end%>
   
</td></tr></table>
  		</fieldset>
</div>

<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date2").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date2', altFormat: 'dd-mm-yy' }) 
			  });
	</script>

<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date3").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date3', altFormat: 'dd-mm-yy' }) 
			  });
	</script>

<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date4").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date4', altFormat: 'dd-mm-yy' }) 
			  });
	</script>

