<%= stylesheet_link_tag 'style','redmond/jquery-ui-1.7.2.custom'%>
  	<%=javascript_include_tag 'jquery-1.3.2.min','jquery-ui-1.7.2.custom.min','jrails','datepicker','jquery.cookie','jquery.simplyCountable.js','facebox','jquery.corner','dropdown.js'%>
<hr />
<div class="create_new">
   <% form_for(@student||Student.new) do |f| %>
     <div class = 'left part1'>
      <h2 class="heading">Student Details</h2><br/>
	<fieldset>
	   <%= f.error_messages %>
		<p>
    			<%= f.label :Student_name %><br />
    			<%= f.text_field :name %>
  		</p>
  		<p>
    			<%= f.label :Gender %><br />
    			<%= f.select :gender,[['Male','male'],['Female','female']] %>
  		</p>
                  
                 <p>
    			<%= f.label :Language %><br />
    			<%= f.text_field :language %>
  		</p>
                  
                   <p>
    			<%= f.label :Blood_group %><br />
    			<%= f.text_field :blood_group %>
                      </p>
                      <p>
    			<%= f.label :Date_of_admission %><br />
                       <%= f.text_field :date_of_admission,:class =>'textbox-small' ,:id => 'date2'%></p>
               <p>
    			<%= f.label :Date_of_passing %><br />
                       <%= f.text_field :date_of_passing,:class =>'textbox-small' ,:id => 'date3'%></p>
               
                   <p>
    			<%= f.label :Date_of_birth %><br />
                           <%= f.text_field :dob,:class =>'textbox-small' ,:id => 'date4'%></p>
                
                <p>
       			<%= f.label :admission_number %><br />
       			<%= f.text_field :admission_number%>
      		</p>
   		<p>
    			<%= f.label :Student_mobile_number %><br />
    			<%= f.text_field :student_mobile_number %>
  		</p>
  		<p>
    			<%= f.label :address %><br />
    			<%= f.text_area :address %>
  		</p>
  		<p>
    			<%= f.label :Student_email %><br />
    			<%= f.text_field :student_email %>
  		</p>
                <p>
    			<%= f.label :Contact_mobile %><br />
    			<%= f.text_field :number %>
  		</p>
                 <p>
    			<%= f.label :Contact_name %><br />
    			<%= f.text_field :contact_name %>
  		</p>

                 <!-- <p>
    		         <%= f.label :username %><br />
    		         <%= text_field_tag :username %>
                </p>
                <p>
    		          <%= f.label :password %><br />
    		          <%= password_field_tag 'pass'%>
                </p> -->
      </div>
<div id="midddle">
       <h2 class="heading">Parent Details</h2><br/>
                <p>
    			<%= f.label :Mother_name %><br />
    			<%= f.text_field :mother %>
  		</p>
                <p>
    			<%= f.label :Mother_mobile %><br />
    			<%= f.text_field :mother_mobile %>
  		</p>
                   
                     <p>
    			<%= f.label :Father_name %><br />
    			<%= f.text_field :father %>
  		</p>
                  <p>
    			<%= f.label :Father_mobile %><br />
    			<%= f.text_field :father_mobile %>
  		</p>
                 
                  <p>
    			<%= f.label :Guardian_name %><br />
    			<%= f.text_field :guardian %>
  		</p>
<p>
    			<%= f.label :Guardian_mobile %><br />
    			<%= f.text_field :guardian_number %>
  		</p>
                <p>
    			<%= f.label :email %><br />
    			<%= f.text_field :email %>
  		</p>
               <div class="Errors_right">
             <%unless current_user.groups.find(:all,:conditions =>['status =?','Active']).blank?%>
             <b>Select the  classes/groups this Student belongs to:
             <%end%>
 		<br /></b>
		<%for group in  current_user.groups.find(:all,:conditions =>['status =?','Active'])%>
   		<%= check_box_tag("groups[]", group.id, false,:id=> group.id)%> <%=group.name %>
 		<br />
	<%end%>
     </div> 
  	  </div>
	<span> <%= f.submit 'Create record' %> or <%= link_to "Cancel", students_path%>
		</span>
	</fieldset>
    
     <%end%>

</div>
<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date2").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date2', altFormat: 'dd-mm-yy' }) 
			  });
	</script>

<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date3").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date3', altFormat: 'dd-mm-yy' }) 
			  });
	</script>

<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date4").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date4', altFormat: 'dd-mm-yy' }) 
			  });
	</script>
    

<div class="clear"></div>

