<div class = 'form_wrapper'> 
  <h1 class = 'heading left'>Student details </h1>
  <div class = 'right'><%= link_to image_tag("closelabel.gif", :title=> "close"),students_path%> </div>
  <div class="clear" ></div>	
<hr />
<div class="left">
<table class="show_page" >         
  <tr>
    <th>Student Name:</th>
  	<td><%=h @student.name %></td>
  </tr>
  <tr>
    <th>Class:</th>
    <td><%= find_groups(@student)%></td>
  </tr>           
  <tr>
    <th>Status:</th>
  	<td><%=h @student.status %></td>
  </tr>	
  <tr>
    <th>Gender:</th>
  	<td><%=h @student.gender %></td>
  </tr>
  <tr>
    <th>Language:</th>
  	<td><%=h @student.language %></td>
  </tr>	
  <tr>
    <th> Student email:</th>
  	<td><%=h @student.student_email %></td>
  </tr>
  <tr>
    <th> Student mobile number:</th>
  	<td><%=h @student.student_mobile_number %></td>
  </tr>
  <tr>
    <th> Blood group:</th>
  	<td><%=h @student.blood_group %></td>
  </tr>
   <tr>
    <th>Date of birth:</th>
  	<td><%=h @student.dob.strftime('%d-%m-%Y') unless @student.dob.nil?  %></td>
  </tr>
  <tr>
    <th>Admission number:</th>
  	<td><%=h @student.admission_number %></td>
  </tr>
  <tr>
    <th>Date of admission:</th>
  	<td><%=h @student.date_of_admission.strftime('%d-%m-%Y') unless @student.date_of_admission.nil?%></td>
  </tr>
</table>
</div>
<div class="right">
<table class="show_page" >
  <tr>
    <th>Mother name:</th>
  	<td><%=h @student.mother %></td>
  </tr> 
  <tr>
    <th>Mother mobile:</th>
  	<td><%=h @student.mother_mobile %></td>
  </tr> 
  <tr>
    <th>Father name:</th>
  	<td><%=h @student.father%></td>
  </tr> 
  <tr>
    <th>Father mobile:</th>
  	<td><%=h @student.father_mobile %></td>
  </tr> 
  <tr>
    <th>Guardian name:</th>
  	<td><%=h @student.guardian %></td>
  </tr> 
  <tr>
    <th>Guardian Mobile:</th>
  	<td><%=h @student.guardian_number %></td>
  </tr> 
  <tr>
    <th>Contact mobile:</th>
  	<td><%=h @student.number %></td>
  </tr>
  <tr>
    <th>Contact name:</th>
  	<td><%=h @student.contact_name %></td>
  </tr>
  <tr> 
    <th>Address:</th>
  	<td><%=h @student.address %></td>
  </tr>
  <tr>
    <th>Email:</th>
  	<td><%=h @student.email %></td>
  </tr> 
</table>
</div>
<div class="clear"></div>
<%unless @messages.blank?%>
  <h1 class='heading'>Total delivered messages -<%= @messages.blank? ? 0 : @messages.size%></h1>
  <table class="listing">
    <tr>
  	  <th>Sent date</th>
      <th>Sent by</th>
      <th>Message</th>
      <th>Sent to.</th>
      <th>View</th>
  	</tr>
   <% @messages.each do |message| %>
  	<tr class="<%=cycle("odd", "even")%>">
      <td><%=h Time.parse(message.created_at.to_s).strftime('%Y-%m-%d') %></td>
      <td><%= message.user.name%></td>
      <td><%=h message_body_filter(message.message_body)%></td>
      <%unless message.group_id.nil?%>
      <td><%=h message.group.name%></td>
      <%else%>
      <td><%=h message.number%></td>
      <%end%>
      <td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>', student_message_show_student_path(:message_id => message,:student_id => @student)%></td>
  	</tr>
  	<%end%>
  </table>
<%end%>
<%unless @schedules.blank?%>
  <h1 class='heading'>Total scheduled messages -<%= @schedules.blank? ? 0 : @schedules.size%></h1>
  <table class="listing">
    <tr>
  	  <th>Created by</th>
      <th>Schedule date</th>
      <th>Time</th>
      <th>Message</th>
      <th>sent to</th>
      <th>View</th> 
  	</tr>
    <% @schedules.each do |schedule| %>
  	<tr class="<%=cycle("odd", "even")%>">
  	  <td><%= schedule.user.name%></td>
      <td><%=h schedule.scheduled_date%></td>
      <td><%= Time.parse(schedule.scheduled_time.to_s).strftime('%H:%M') %></td>
      <td><%=h message_body_filter(schedule.message_body)%></td>
    <%unless schedule.group_id.nil?%>
      <td><%=h schedule.group.name%></td>
    <%else%>
      <td><%=h schedule.number%></td>
    <%end%>
       <td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>',student_schedule_show_student_path(:schedule_id => schedule,:student_id => @student)%></td>
     </tr>
		<% end %>
  </table>
<%end%>
<%unless @emails.blank?%>
<h1 class='heading'>Total sent emails -<%= @emails.blank? ? 0 : @emails.size%></h1>
<table class ="listing">
  <tr>
    <th>Sent by</th>
    <th>Subject</th>
    <th>Content</th>
    <th>Class</th>
    <th>View</th>
  </tr>
  <% @emails.each do |email| %>
  <tr class="<%=cycle("odd", "even")%>">
    <td><%= email.user.name%>
    <td><%=h email.subject %></td>
    <td><%=h message_body_filter(email.body) %></td>
    <td><%=h email.group.name%></td>
    <td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>', student_email_show_student_path(:email_id => email,:student_id => @student)%></td>
	<% end %>
</table>
<%end%>
<%unless @letters.blank?%>
  <h1 class='heading'>Total sent letters-<%= @letters.blank? ? 0 : @letters.size%></h1>
  <table class ="listing">
    <tr>
  	  <th>Created by</th>
      <th>Content</th>
      <th>Class</th>
      <th>View</th>
  	</tr>
		<% @letters.each do |letter| %>
  	<tr class="<%=cycle("odd", "even")%>">
  	  <td><%= letter.user.name%></td>
      <td><%= message_body_filter(letter.content)%></td>
      <td><%= letter.group.name %></td>
      <td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>', student_letter_show_student_path(:letter_id => letter,:student_id => @student)%></td>
  	</tr>
	<% end %>
  </table>
  <%end%>
<%unless @marks.blank?%>
  <h1 class='heading'>Marks</h1>
	<% @exams.each do |exam|%>
    <h3 class="exam"> <%= exam.name%></h3>
<table class ="listing">
  <tr>		    
    <th>Subject</th>
    <th>Maximum marks</th>
    <th>Passing marks</th>
    <th>Score</th>		
  </tr>
  <%total_max_marks =0%>
  <%total_score=0%>
  <% exam.marks.find(:all,:conditions =>['created_at >= ? and created_at <= ? and student_id =?',@from_date,@to_date,@student.id]).each do |mark| %>
  <tr class="<%=cycle("odd", "even")%>">
    <td><%= mark.subject.name%></td>
    <td><%= mark.subject.max_marks%></td>
    <%total_max_marks+= mark.subject.max_marks%>
    <td><%= mark.subject.passing_marks%></td>
    <td><%= mark.mark %></td>
    <%total_score+= mark.mark%>
  </tr>
  <% end %>
  <tr>
    <td>Total score:<%= total_score%></td>
    <td>Total max marks:<%= total_max_marks%> </td>
    <td>Percentage:<%= total_score/total_max_marks.to_f*100%>% </td>
  </tr>
</table>
<% end %> 
<%end%>
<p>
<%unless @exam_names.blank?%>
<%= image_tag Gchart.line(:size => '900x320',
:title => "Performance Graph",
:bg => 'efefef',
:axis_with_labels => 'x,y',
:axis_labels => @exam_names,
:bar_colors => '458B74,C1CDCD,838B8B,000000,FFEBCD,0000FF,A52A2A,DEB887,8B7355,FF4040,98F5FF,7FFF00,D2691E,458B00,
8B4513,FF7F50,8B3E2F,6495ED,FFF8DC,8B8878,DC143C,00FFFF,00CDCD,008B8B,00008B,B8860B,FFB90F,CD950C,8B6508,A9A9A9,
006400,BDB76B,8B008B,556B2F,CAFF70,A2CD5A,6E8B3D,FF8C00,8B4500,CD6600,9932CC,68228B,8B0000,B23AEE,E9967A,8FBC8F,
B4EEB4,698B69,483D8B,2F4F4F,97FFFF,79CDCD,2F4F4F,9400D3,FF1493,8B0A50,CD1076,00BFFF,00688B,696969,B22222,FF3030,
8B1A1A,228B22,FFD700,DCDCDC,CDAD00,8B7500,DAA520,8B6914,BEBEBE,FF69B4,8B3A62,CD5C5C,8B3A3A,4B0082,218868,8B8B83,
F0E68C,8B864E,E6E6FA,CDC1C5,8B8386,7CFC00,CDC9A5,8B8970,BFEFFF,9AC0CD,68838B,F08080,B4CDCD,EEDD82,CDBE70,8B814C,
FAFAD2,D3D3D3,90EE90,FFB6C1,8B5F65,FFA07A,CD8C95,8B5742,20B2AA,87CEFA,CD8162,8DB6CD,607B8B,8470FF,778899,CAE1FF,
FFFFE0,CDCDB4,32CD32,FF00FF,A2B5CD,8B008B,8B8B7A,66CDAA,B03060,0000CD,BA55D3,9370DB,8B1C62,5D478B,7A378B,3CB371,
48D1CC,C71585,FFE4E1,8B7D7B,7B68EE,FFE4B5,000080,6B8E23,8B795E,FFA500,FF4500,8B5A00,B3EE3A,8B2500,DA70D6,EEE8AA,
7CCD7C,668B8B,8B475D,8B7765,8B4789,CD853F,8B636C,CD96CD,A020F0,CD0000,27408B,2E8B57,8E8E38,388E8E,8B4726,4A708B,
473C8B,008B45,458B74,C1CDCD,838B8B,000000,FFEBCD,0000FF,A52A2A,DEB887,8B7355,FF4040,98F5FF,7FFF00,D2691E,458B00,
8B4513,FF7F50,8B3E2F,6495ED,FFF8DC,8B8878,DC143C,00FFFF,00CDCD,008B8B,00008B,B8860B,FFB90F,CD950C,8B6508,A9A9A9,
006400,BDB76B,8B008B,556B2F,CAFF70,A2CD5A,6E8B3D,FF8C00,8B4500,CD6600,9932CC,68228B,8B0000,B23AEE,E9967A,8FBC8F,
B4EEB4,698B69,483D8B,2F4F4F,97FFFF,79CDCD,2F4F4F,9400D3,FF1493,8B0A50,CD1076,00BFFF,00688B,696969,B22222,FF3030,
8B1A1A,228B22,FFD700,DCDCDC,CDAD00,8B7500,DAA520',
:stacked => false,
:max_value => 100,
:data =>@percentages) %>
 </p>
<%end%>
<div class ="clear">
  		</div>
</div>
</div>

