<%= stylesheet_link_tag 'style','redmond/jquery-ui-1.7.2.custom'%>
 <%=javascript_include_tag 'jquery-1.3.2.min','jquery-ui-1.7.2.custom.min','jrails','datepicker','jquery.cookie','jquery.simplyCountable.js','facebox','jquery.corner','dropdown.js'%>
<hr />
<div class="create_new">
<% form_for(:student,:url => admin_students_path,:html => {:method => :post,:id =>'main-form'} )do |f| %>
    <br/><h2 class="heading">Student Details</h2>
    <fieldset>
      <%= f.error_messages %>
        <div class = 'left'>
	<p><%= f.label :Student_name %><br />
    	<%= f.text_field :name %></p>
  		        
    	<p><%= f.label :Gender %><br />
    	<%= f.select :gender,[['Male','male'],['Female','female']] %></p>
                      
  	<p><%= f.label :Language %><br />
    	<%= f.text_field :language %></p>

  	<p><%= f.label :Blood_group %><br />
    	<%= f.text_field :blood_group %></p>
        </div>
 <div class = 'left' style="padding-left:30px;">
                 
        <p><%= f.label :Date_of_birth %><br />
        <%= f.text_field :dob,:class =>'textbox-small' ,:id => 'date4'%></p>

        <p><%= f.label :Student_mobile_number %><br />
    	<%= f.text_field :student_mobile_number %></p>
                          
        <p><%= f.label :Student_email %><br />
    	<%= f.text_field :student_email %></p>
</div>
<div class="clear"></div><br/>
  <h2 class="heading">Admission Details</h2>
<div class="left">
<p>
<%= f.label :admission_number %><br />
<%= f.text_field :admission_number%></p>
<p><%= f.label :Mother_name %><br />
    			<%= f.text_field :mother %></p>
<p><%= f.label :Father_name %><br />
    			<%= f.text_field :father %></p>
<p><%= f.label :Guardian_name %><br />
    			<%= f.text_field :guardian %></p>
<p><%= f.label :email %><br />
    			<%= f.text_field :email %></p>
<p><%= f.label :Contact_mobile %><br />
    			<%= f.text_field :number %></p>

</div>

<div class="left" style="padding-left:30px;">
<p>
<%= f.label :Date_of_admission %><br />
                          <%= f.text_field :date_of_admission,:class =>'textbox-small' ,:id => 'date2'%></p>
<p><%= f.label :Mother_mobile %><br />
    			<%= f.text_field :mother_mobile %></p>
<p><%= f.label :Father_mobile %><br />
    			<%= f.text_field :father_mobile %></p>
<p><%= f.label :Guardian_mobile %><br />
    			<%= f.text_field :guardian_number %></p>
<p><%= f.label :address %><br />
    			<%= f.text_area :address %></p>
<p><%= f.label :Contact_name %><br />
    			<%= f.text_field :contact_name %></p>
</div>

                 <div class="clear"></div>
               
  		<span> <%= f.submit 'Create record' %> or <%= link_to_function "Cancel",
	"jQuery('#top').hide(); jQuery('#button').show(); return false;"%>
		</span>
	</fieldset>
      
     
  <%end%>
</div>

<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date2").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date2', altFormat: 'dd-mm-yy' }) 
			  });
	</script>

<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date3").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date3', altFormat: 'dd-mm-yy' }) 
			  });
	</script>

<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date4").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date4', altFormat: 'dd-mm-yy' }) 
			  });
	</script>
