<h1 class ='heading'>Editing academic year</h1>
<% form_for([:admin,@academic_year],:url => admin_academic_year_path(@academic_year)) do |f| %>
<%= f.error_messages %>
 <table class="form_style">
  <tr>
    <th><%= f.label :from_date %></th>
    <td><%= f.text_field :from_date,:class =>'textbox-small' ,:id => 'date-academic1'%></td>
  </tr>
  <tr>
    <th><%= f.label :to_date %></th>
    <td><%= f.text_field :to_date,:class =>'textbox-small' ,:id => 'date-academic2'%></td>
  </tr>
  <tr>
    <th><%= f.label :identification_name %></th>
    <td><%= f.text_field :identification_name %></td>
  </tr>
  <tr>
    <th><%= f.label :current %></th>
    <td><%= f.check_box :current %></td>
  </tr>
 </table>
 <div class="btns" style="margin-left:140px;">
    <span><%= f.submit 'Update' %></span>
 </div>
<% end %>
<div class="clear"></div> 
<script type="text/javascript">
	$(function() {
		$('#date-academic1').datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date-academic', altFormat: 'dd-mm-yy',
			changeMonth: true,
			changeYear: true
		});
	});
	</script>
<script type="text/javascript">
	$(function() {
		$('#date-academic2').datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date-academic2', altFormat: 'dd-mm-yy',
			changeMonth: true,
			changeYear: true
		});
	});
	</script>


