  <div>
    <span class ='right'><%= link_to "<span>Add new academic year</span>", new_admin_academic_year_path , :class => 'buttonAdd'%></span>
    <h1 class ="heading left">Listing Academic Years</h1>
    <div class="clear"></div>
  </div>
<hr />
<table class="listing" border="1">
  <tr>
    <th>Academic year</th>
    <th>From date</th>
    <th>To date</th>
   
    <th>Current</th>
    <th>School</th>
    <th>Show</th>
  </tr>

<% @academic_years.each do |academic_year| %>
  <tr class="<%=cycle("odd", "even")%>">
    <td><%=h academic_year.identification_name %></td>
    <td><%=change_format_to_long(academic_year.from_date)%></td>
    <td><%=change_format_to_long(academic_year.to_date)%></td>
 
    <td><%=h academic_year.current %></td>
    <td><%=h academic_year.school.school_name %></td>
    <td><%= link_to "Show", admin_academic_year_path(academic_year)%></td>
  </tr>
<% end %>
</table>
<div id="pg"><%=will_paginate @academic_years%>	</div>
<br />

<div class="clear"></div>



