<h1 class="heading">New Academic year</h1><br/>
<% form_for(:academic_year,:url => admin_academic_years_path,:html => {:method => :post} )do |f| %>
<%= f.error_messages %>
 <table class="form_style">
    <tr>
      <th><%= f.label :from_date %></th>
      <td><%= f.text_field :from_date,:class =>'textbox-small' ,:id => 'date-academic'%></td>
    </tr>
    <tr>
      <th><%= f.label :to_date %></th>
      <td><%= f.text_field :to_date,:class =>'textbox-small' ,:id => 'date2'%></td>
    </tr>
    <p>
      <th><%= f.label :identification_name %></th>
      <td><%= f.text_field :identification_name %></td>
    </tr>
    <tr>
      <th><%= f.label :current %></th>
      <td><%= f.check_box :current %></td>
    </tr>
   <tr>
      <th><%= f.hidden_field :school_id, :value => current_user.school_id %></th>
    </tr>
</table>
<div class="btns" style="margin-left:155px;">
    <span>
       <%= f.submit 'Create' %>
    </span>
</div>
<% end %>
<div class="clear"></div>
<script type="text/javascript">
	$(function() {
		$('#date-academic').datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date-academic', altFormat: 'dd-mm-yy',
			changeMonth: true,
			changeYear: true
		});
	});
	</script>
<script type="text/javascript">
	$(function() {
		$('#date2').datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date2', altFormat: 'dd-mm-yy',
			changeMonth: true,
			changeYear: true
		});
	});
	</script>


