<%= render :partial => "share_email_links"%>
<h1>Class wise email list</h1>
<%= image_tag Gchart.bar(:size => '200x150',
:title => "Graph",
:bg => 'efefef',
:legend =>@classes_name  ,
:bar_colors => '458B74,C1CDCD,838B8B,000000,FFEBCD,0000FF,A52A2A,DEB887,8B7355,FF4040,98F5FF,7FFF00,D2691E,458B00,
8B4513,FF7F50,8B3E2F,6495ED,FFF8DC,8B8878,DC143C,00FFFF,00CDCD,008B8B,00008B,B8860B,FFB90F,CD950C,8B6508,A9A9A9,
006400,BDB76B,8B008B,556B2F,CAFF70,A2CD5A,6E8B3D,FF8C00,8B4500,CD6600,9932CC,68228B,8B0000,B23AEE,E9967A,8FBC8F,
B4EEB4,698B69,483D8B,2F4F4F,97FFFF,79CDCD,2F4F4F,9400D3,FF1493,8B0A50,CD1076,00BFFF,00688B,696969,B22222,FF3030,
8B1A1A,228B22,FFD700,DCDCDC,CDAD00,8B7500,DAA520,8B6914,BEBEBE,FF69B4,8B3A62,CD5C5C,8B3A3A,4B0082,218868,8B8B83,
F0E68C,8B864E,E6E6FA,CDC1C5,8B8386,7CFC00,CDC9A5,8B8970,BFEFFF,9AC0CD,68838B,F08080,B4CDCD,EEDD82,CDBE70,8B814C,
FAFAD2,D3D3D3,90EE90,FFB6C1,8B5F65,FFA07A,CD8C95,8B5742,20B2AA,87CEFA,CD8162,8DB6CD,607B8B,8470FF,778899,CAE1FF,
FFFFE0,CDCDB4,32CD32,FF00FF,A2B5CD,8B008B,8B8B7A,66CDAA,B03060,0000CD,BA55D3,9370DB,8B1C62,5D478B,7A378B,3CB371,
48D1CC,C71585,FFE4E1,8B7D7B,7B68EE,FFE4B5,000080,6B8E23,8B795E,FFA500,FF4500,8B5A00,B3EE3A,8B2500,DA70D6,EEE8AA,
7CCD7C,668B8B,8B475D,8B7765,8B4789,CD853F,8B636C,CD96CD,A020F0,CD0000,27408B,2E8B57,8E8E38,388E8E,8B4726,4A708B,
473C8B,008B45,458B74,C1CDCD,838B8B,000000,FFEBCD,0000FF,A52A2A,DEB887,8B7355,FF4040,98F5FF,7FFF00,D2691E,458B00,
8B4513,FF7F50,8B3E2F,6495ED,FFF8DC,8B8878,DC143C,00FFFF,00CDCD,008B8B,00008B,B8860B,FFB90F,CD950C,8B6508,A9A9A9,
006400,BDB76B,8B008B,556B2F,CAFF70,A2CD5A,6E8B3D,FF8C00,8B4500,CD6600,9932CC,68228B,8B0000,B23AEE,E9967A,8FBC8F,
B4EEB4,698B69,483D8B,2F4F4F,97FFFF,79CDCD,2F4F4F,9400D3,FF1493,8B0A50,CD1076,00BFFF,00688B,696969,B22222,FF3030,
8B1A1A,228B22,FFD700,DCDCDC,CDAD00,8B7500,DAA520',
:stacked => false,
:data =>@classes_email_size) %>
<% for group in @classes%>
<br /> <br />
<h2><%= group.name%> (<%= find_class_emails(group).size %> ) </h2><br />
<table class ="listing">
  		<tr>
  		    <th>Sent by</th>
    			<th>Subject</th>
    			<th>Body</th>
    			<th>Class</th>
    			<th>View</th>
  		</tr>
	<% for email  in find_class_emails(group)%>
  		<tr class="<%=cycle("odd", "even")%>">
  		    <td><%= email.user.name%></td>
     			<td><%=h email.subject %></td>
     			<td><%=h message_body_filter(email.body) %></td>
     			<td><%=h email.group.name%></td>
     			<td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>', email_report_path(email)%></td>
      		</tr>
		<% end %>
	</table>
	<div class = 'clear'> </div>
	<% end %>
