<div id = 'top' style ="display:none ; clear:both">
     <div class = 'right'> 
        <%= link_to_function image_tag("cancel.gif", :title=> "Cancel"), "jQuery('#top').hide(); jQuery('#button').show(); return false;" %> 
     </div>
     <%= render :partial =>"new"%>
     <div class = 'clear'> </div>
</div>

<div id = 'listing-top'>
    <% if current_user.has_role?('admin')%>
       <div id = 'button'>
	   <span>
               <%= link_to_function "<span>New saved message</span>", "jQuery('#top').show(); jQuery('#button').hide(); return false;", :class => 'buttonAdd' %>
           </span>
       </div>
    <%end%> 	
         
    <h1>Listing all saved message templates</h1>
    <div class="clear"></div>
</div>

<div id="listing_file">
    <table class="listing">
  	<tr>
  	   <th>Created by</td>
    	   <th><%= order @search, :by => :message_title,:as => "Message Title"%></th>
    	   <th>Message Body</th>
    	   <th>Tag name</th>
    	   <th>View</th>
    	</tr>
				<% @message_templates.each do |message_template| %>
  			<tr class="<%=cycle("odd", "even")%>">
  			   <td><%= message_template.user.name%>
   				<td><%=h message_template.message_title %></td>
   				<td><%=h message_body_filter(message_template.message_body)%></td>
   				 <td><%= message_template.tag.name%>
    				<td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>',message_template_path(message_template),:rel => "facebox"%></td>
  			</tr>
			<% end %>
		</table>
		<div id="pg"><%=will_paginate @message_templates%></div>
</div>
	
<div class="sidebar">
		<h1>Search </h1>
 		<% form_for @search do |f| %>
 			<table>
  				<tr>
    					<th>Message Title </th>
				</tr>
				<tr>
					<td><%= f.text_field :message_title_like %></td>
				</tr>
				<tr>
    					<th>Message </th>
				</tr>
				<tr>
					<td><%= f.text_field :message_body_like%></td>
				</tr>
					<tr>
    					<th>Tag name </th>
				</tr>
				<tr>
					<td><%= f.text_field :tag_name_like%></td>
				</tr>
				
				<tr>
       				<th>Creater name </th>
			</tr>
			<tr>
				<td><%= f.text_field :user_name_like%></td>
			</tr>
				
				<tr>
      					<td class="btn"><%= f.submit "Search" %>  <input type="reset" value="Reset"></td>
  				</tr>
  			</table>
  		<%end%>
	</div>
	<div class="clear" ></div>
