<%= render :partial => "share_message_links"%>
<% form_for :report,:url => month_messages_message_reports_path,  :html => {:method => :post,:multipart => :true} do |f| %>
 <p>
    		 <%= f.label :from_date%><br />
    		 <%= f.text_field :from_date,:class =>'textbox-small' ,:id => 'date'%>
  	 </p>
  	 <p>
    		 <%= f.label :to_date%><br />
    		 <%= f.text_field :to_date,:class =>'textbox-small' ,:id => 'date1'%>
  	 </p>
  	 <%= f.submit 'Report' %>
 <% end %> 
 <%unless @months.nil?%>
   <% @months.each do |month| %>
  <h1><%=h month_print(month.strftime("%m").to_i) %>   - <%=h month.strftime("%Y") %> (  <%=h @reports[month].nil? ? 0 :@reports[month] %> )</h1>
  <table class="listing">
  		<tr>
    			<th>Sent Date</th>
    			<th>Sent by</th>
    			<th>Message</th>
    			<th>Class/Mobile no.</th>
     			<th>View</th>
  		</tr>
		 <% @message_months[month].each do |message| %>
  		<tr class="<%=cycle("odd", "even")%>">
    			<td><%=h Time.parse(message.created_at.to_s).strftime('%Y-%m-%d') %></td>
    			<td><%= message.user.name%></td>
    			<td><%=h message_body_filter(message.message_body)%></td>
    			<%unless message.group_id.nil?%>
    			<td><%=h message.group.name%></td>
    			<%else%>
    			 <td><%=h message.number%></td>
    			<%end%>
    			<td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>',  message_report_path(message)%></td>
  		</tr>
		<% end %>
	</table>
  <br /><br />
   <% end %>
 <%end%>

