<% form_for :students,:url => month_messages_message_reports_path,  :html => {:method => :post,:multipart => :true} do |f| %>
 <p>
    		 <%= f.label :from_date%><br />
    		 <%= f.text_field :from_date,:class =>'textbox-small' ,:id => 'date'%>
  	 </p>
  	 <p>
    		 <%= f.label :to_date%><br />
    		 <%= f.text_field :to_date,:class =>'textbox-small' ,:id => 'date1'%>
  	 </p>
  	 <%= f.submit 'Report' %>
 <% end %> 
