<%= render :partial => "share_message_links"%>
<h1>Student wise message list</h1>
<% for student in @students%>
<br />
<%= student.name%><br />
<table class="listing">
  		<tr>
    			<th>Sent Date</th>
    			<th>Sent by</th>
    			<th>Message</th>
    			<th>Class/Mobile no.</th>
     			<th>View</th>
  		</tr>
<% for message  in find_student_messages(student)%>
      <tr class="<%=cycle("odd", "even")%>">
    			<td><%=h Time.parse(message.created_at.to_s).strftime('%Y-%m-%d') %></td>
    			<td><%= message.user.name%></td>
    			<td><%=h message_body_filter(message.message_body)%></td>
    			<%unless message.group_id.nil?%>
    			<td><%=h message.group.name%></td>
    			<%else%>
    			 <td><%=h message.number%></td>
    			<%end%>
    			<td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>', message_report_path(message)%></td>
  		</tr>
		<% end %>
	</table>
<div class = 'clear'> </div>
<%end%>  
