<div class = 'form_wrapper'>
<h1 class = 'heading'>Editing class record</h1>	
<fieldset>
	<% form_for(@group,:html => {:id => 'main-form'}) do |f| %>
  	<%= f.error_messages %>
  	<p>
    		<%= f.label :class_name %><br />
    		<%= f.text_field :name %>
  	</p><br /><br />
       <label>Students of this class</label>
	<table class="student_list">
		<tr>
		<th><input type='checkbox' title ="Check All/Uncheck" name='checkall' onclick='checkedAll();'/></th>
     			
     			<th>Student name</th>
     			<th>Contact name</th>
     			<th>Mobile no.</th>
		</tr>
 		<%@group_students.each do |group_student|%>
		<tr class="<%=cycle("odd", "even")%>">
    			<td><%= check_box_tag("students[]", group_student.id, true,:id=> group_student.id)%></td>
   			
   			<td><%= h group_student.name%></td>
				<td><%= h group_student.contact_name%></td>
	      <td><%= h group_student.number%></td>
		</tr>
	
	   		<%end%>
  		<%@non_group_students.each do |non_group_student| %>
  		<tr class="<%=cycle("odd", "even")%>">
      		<td><%= check_box_tag("students[]", non_group_student.id, false,:id=> non_group_student.id)%></td>
    		    
    		   <td><%=h non_group_student.name %></td>
    		    <td><%=h non_group_student.contact_name %></td>
    		     <td><%=h non_group_student.number %></td>
    		 </tr>
    		<%end%>
	</table>
	<br />
	<p>
	<table>
	<tr>
		<td width ="165"><span><%= f.submit 'Update' %></span> &nbsp;</td>
  	<% end %>
            <%if current_user.has_role?('admin')%>
	      
               <%if @group.status=='Active'%>
                  <td> <%= button_to 'Make this class inactive', make_inactive_group_path(@group),:method => :get %> </td>
               <%else%>
                  <td><%= button_to 'Make this class active', make_active_group_path(@group),:method => :get %></td> 
               <%end%>
             <%end%>
        </p>

</fieldset>
</tr>
</table>
</div>
   

