<div id = 'top' style ="display:none ; clear:both">
     <div class = 'right'> 
        <%= link_to_function image_tag("cancel.gif", :title=> "Cancel"), "jQuery('#top').hide(); jQuery('#button').show(); return false;" %> 
     </div>
     <%= render :partial =>"new"%>
     <div class = 'clear'> </div>
</div>


<div id = 'listing-top'>
    <% if current_user.has_role?('admin')%>
       <div id = 'button'>
	   <span>
               <%= link_to_function 'new class record', "jQuery('#top').show(); jQuery('#button').hide(); return false;" %>
           </span>
       </div>
    <%end%> 	
         
    <h1>Listing all classes/groups</h1>
    <div class="clear"></div>
</div>

<div id="listing_file">
   <table class="listing">
                       		<tr>
    					<th><%= order @search, :by => :name ,:as => "Name"%></th>
    		   			<th><%= order @search, :by => :status ,:as => "Status"%></th>
    					<th>View</th>
  				</tr>
					<% @groups.each do |group| %>
  				<tr class="<%=cycle("odd", "even")%>">
    					<td><%=h group.name %></td>
    					<td><%= h group.status%>
    					<td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>', group%> 
       				  
    					</td>
  				</tr>
			<% end %>
			</table>
			<div id="pg"><%=will_paginate @groups%>	</div>
	</div>
	<div class="sidebar">
		<h1>Search</h1>
		<% form_for @search do |f| %>
		 <table>
    			<tr>
      				<th>Name</th>
			</tr>
				<td><%= f.text_field :name_like %></td>
			</tr>
			<tr>
       				<th>Student Name</th>
			</tr>
			<tr>
				<td><%= f.text_field :students_name_like%></td>
			</tr>
			<tr>
       				<td class="btn"><%= f.submit "Search" %> <input type="reset" value="Reset"></td>
  			</tr>
  		</table>
  		<%end%>
	</div>
	<div class="clear" ></div>

