<div class = 'form_wrapper'> 
<h1 class = 'heading left'>Showing <span><%=h @group.name %></span> students list</h1>	
<div class = 'right'><%= link_to image_tag("closelabel.gif", :title=> "close"), groups_url %> </div>
<div class="clear" ></div>
<hr />

<table  class="student_list" >
   <tr>    
       <th>Roll No.</th>
       <th>Student name</th>
       <th>Parent name </th>
       <th>Mobile No.</th>
   </tr>
			<% for student in @students%>
		<tr class="<%=cycle("odd", "even")%>">
                        <td><%= student.roll_number%></td>
			<td><%= student.name%></td>
                        <td> <%= student.parent %> </td>
                        <td><%=h student.number %></td>
		</tr>
		<%end%>
</table>
</div>	    
