<div class = 'form_wrapper'> 
<h1 class = 'heading left'>Showing <span><%=h @group.name %></span> students list</h1>	
<div class="clear" ></div>
<hr />
<div id="students">
<table  class="student_list" border="1" cellpadding="5px">
   <tr>    
      <th>Student name</th>
      <th>Contact name </th>
      <th>Contact mobile.</th>
      <th>Roll number</th>
   </tr>
	<% for student in @students%>
   <tr class="<%=cycle("odd", "even")%>">
       <td><%= student.name%></td>
       <td><%= student.contact_name %> </td>
       <td><%=h student.number %></td>
       <td><%= find_roll_number(@group,student)%></td>
  </tr>
<%end%>
</table>
</div>	    
