<div class="header_links">
    <%if current_user%>
	      <ul>
                   <%if current_user.has_role?('super_admin') || current_user.has_role?('admin')%>
                     <li class='<%= request.request_uri == "/admin/users"? 'active': 'link' %>'>
                         <%= link_to "Administration", admin_users_path %>|
                     </li>  
                  <%end%>
             <%if current_user.has_role?('teacher')%>
                  <li class='<%= request.request_uri == "/admin/users/#{current_user.id}/edit_my_account"? 'active': 'link' %>'> 
                  <%= link_to "My account",edit_my_account_admin_user_path(current_user) %>|</li> 
             <%else%>
                  <li class='<%= request.request_uri == "/admin/users/#{current_user.id}/edit"? 'active': 'link' %>'> 
                    <%= link_to "My account",edit_admin_user_path(current_user) %>|</li> 
             <%end%>
             <li class='<%= request.request_uri == "/helps"? 'active': 'link' %>'> <%= link_to "Help", helps_path %> | </li>
          	  <li><%= link_to "Logout", logout_path %></li> 
            <li>
                 <h3 style="color:#b32770; margin:15px 0px 0px 5px; font-size:16px">
                  <%admin = current_user.has_role?('admin') ? current_user : User.find(current_user.parent_id)%> 
		         <%school = School.find(:first,:conditions=>['administrator_id=?',admin.id])%>
                 <%academic_year = AcademicYear.current_academic_year_school(school.id) unless school.nil?%>
                 <%= academic_year.identification_name unless academic_year.nil?%>  
                </h3>
            </li>
              </ul>
       <%else%>
              <ul>
          	 <li><%= link_to "Login", login_path %></li>
              </ul>	
       <%end%>	
</div>
