<h1>Creating new tag</h1>
<% form_for(:tag,:url => admin_tags_path ,:html => {:multipart => true,:method => :post}) do |f|%>
  <%= f.error_messages %>
  <table class="form_style">
    <tr>
      <th><%= f.label :Tag_name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :description %></th>
      <td><%= f.text_area :description %></td>
    </tr>
  </table>
  <div class="btns" style="margin-left:85px;"><span> <%= f.submit 'Create' %> </div>
  <div class="clear"></div>
<% end %>
