<div class = 'right'><%= link_to image_tag("closelabel.gif", :title=> "close") ,:back%> </div>
  <% form_for(@tag,:url => admin_tag_path(@tag) ,:html => {:multipart => true}) do |f|%>
  <%= f.error_messages %>
<table class="form_style">
  <tr>
    <th><%= f.label :Tag_name %></th>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <th><%= f.label :description %></th>
    <td><%= f.text_area :description %></td>
  </tr>
</table>
   <div class="btns" style="margin-left:85px;">
    <span><%= f.submit 'Update' %></span>
   </div>
<% end %>




