<div class='form_wrapper'>
<div id = 'top' style ="display:none ; clear:both">
     <div class = 'right'> 
        <%= link_to_function image_tag("cancel.gif", :title=> "Cancel"), "jQuery('#top').hide(); jQuery('#button').show(); return false;" %> 
     </div>
     <%= render :partial =>"new"%>
     <div class = 'clear'> </div>
</div>

<div id = 'listing-top'>
    
       <div id = 'button'>
	   <span>
               <%= link_to_function "<span>New message tag</span>", "jQuery('#top').show(); jQuery('#button').hide(); return false;", :class => 'buttonAdd' %>
           </span>
       </div>
 <h1 class ="heading left">Listing all message tags</h1>
  <div class="clear"></div>
  </div>

 <% form_for @search do |f| %>
 	  		 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;Tag name:&nbsp; <%= f.text_field :name_like %>
		<span><%= f.submit "Search" %> </span></div>
<%end%>
  <br />
 <div id="listing_file">
<table class ="listing">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Edit</th>
  </tr>

<% @tags.each do |tag| %>
  <tr class="<%=cycle("odd", "even")%>">
    <td><%=h tag.name %></td>
    <td><%=h tag.description %></td>
    <td><%= link_to '<img src="/images/edit.gif" title="View"/>', edit_admin_tag_path(tag) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @tags%>
<br />
</div>

  <div class="clear"></div>
  </div>


