<div id = 'top' style ="display:none ; clear:both">
     <div class = 'right'> 
        <%= link_to_function image_tag("cancel.gif", :title=> "Cancel"), "jQuery('#top').hide(); jQuery('#button').show(); return false;" %> 
     </div>
     <%= render :partial =>"new"%>
     <div class = 'clear'> </div>
</div>

<div id = 'listing-top'>
    
       <div id = 'button'>
	   <span>
               <%= link_to_function "<span>New message tag</span>", "jQuery('#top').show(); jQuery('#button').hide(); return false;", :class => 'buttonAdd' %>
           </span>
       </div>
 <h1 class ="heading left">Listing all message tags</h1>
 <div class="clear"></div>
  </div>

<hr />
 <div id="listing_file">
<table class ="listing" border="1">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Edit</th>
  </tr>

<% @tags.each do |tag| %>
  <tr class="<%=cycle("odd", "even")%>">
    <td width="20%"><%=h tag.name %></td>
    <td width="75%"><%=h tag.description %></td>
    <td width="5%"><%= link_to '<img src="/images/edit.gif" title="View"/>', edit_admin_tag_path(tag) %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @tags%>
<br />
</div>
<div class="sidebar">
 <h1>Search </h1>
 <% form_for @search do |f| %>
<table>
<tr><th>Tag name</th></tr>
 	 <tr><td> 		 <%= f.text_field :name_like %></td></tr>
		<tr><td class="btn"><%= f.submit "Search" %> </td></tr>
</table>
<%end%>
  
</div>

  <div class="clear"></div>



