<h1>Creating new tag</h1>
<div class="create_new">
<% form_for(:tag,:url => admin_tags_path ,:html => {:multipart => true,:method => :post}) do |f|%>
  <%= f.error_messages %>
<fieldset>
  <p>
    <%= f.label :Tag_name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
 
   <span> <%= f.submit 'Create' %> or <%= link_to 'Back to listing tags', tags_path %></span>

  </fieldset>
  </div>
  <div class="clear"></div>
<% end %>


