<div class="left">
<h1 class="heading">School Details</h1>
<table class="form_style">
  <tr>
    <th><%= f.label :school_name %></th>
    <td><%= f.text_field :school_name %></td>
  </tr>
  <tr>
    <th><%= f.label :school_email %></th>
    <td><%= f.text_field :school_email %></td>
  </tr>
  
   <% if current_user.has_role?('super_admin')%>
   <tr>
    <th><%= f.label :Server_username %></th>
    <td><%= f.text_field :server_user_name %></td>
   </tr>
   <tr>
      <th><%= f.label :Server_password %></th>
      <td><%= f.password_field :server_password %></td>
   </tr>
   <tr>
     <th><%= f.label :sms_limit %></th>
     <td><%= f.text_field :sms_limit %></td>
  </tr>
 
  <tr>
    <th><%= f.label :Type %></th>
    <td><%= f.select :plan_type ,[["Select type",""],["Unlimited","Unlimited"],["Limited", "Limited"]],:selected => @school.plan_type %>
 
  <br />
    <%= image_tag("spinner.gif",
               			:border => 0,
              			:id => "spinner1",
			             :style =>"display: none;" ) %> 
	<%= observe_field("school_plan_type", :frequency => 1,
                  :before => "jQuery('#spinner1').show();",
                  :success => "jQuery('#spinner1').hide();",
                  :url => plan_type_admin_schools_path, 
				    :method => :get,
                  :with => "'plan_type=' + value") %></td>		             
  </tr>	
<div class="clear"></div>	   
  <div id = "type">
     <%if @school.plan_type == "Unlimited"%>
        <tr>
        <th><%= f.label :End_date%></th>
        <td><%= f.text_field :end_date,:class =>'textbox-small' ,:id => 'date'%></td>
        </tr>
    <%elsif @school.plan_type == "Limited" %>
        <tr>
        <th><%= f.label :credits%></th>
        <td><%= f.text_field :credits%></td>
        </tr>
     <%else%>
    <%end%>  
   </div>
  <%end%>
 </table>
</div>

<div class="right">
<h1 class="heading">Administrator Details</h1>
<%f.fields_for :administrator do |admin|%>
<table class="form_style">
<%= admin.error_messages %>
  <tr>
    <th><%= admin.label :name %></th>
    <td><%= admin.text_field :name %></td>
  </tr>
  
  <tr>
    <th><%= admin.label :username %></th>
    <td><%= admin.text_field :username %></td>
  </tr>
  <tr>
    <th><%= admin.label :password %></th>
    <td><%= admin.password_field :password %></td>
  </tr>

  <tr>
    <th><%= admin.label :password_confirmation %></th>
    <td><%= admin.password_field :password_confirmation %></td>
  </tr>

  <tr>
    <th><%= admin.label :email %></th>
    <td><%= admin.text_field :mail_id %></td>
  </tr>

  <tr>
    <th><%= admin.label :designation %></th>
    <td><%= admin.text_field :designation %></td>
  </tr>
 
</table>
<%end%>
</div>
<div class="clear"></div>


