<div class='form_wrapper'>
  <div>
    <span class ='right'><%= link_to "<span>New School</span>", new_admin_school_path , :class => 'buttonAdd'%></span>
    <h1 class ="heading left">Listing schools</h1>
    <div class="clear"></div>
  </div>


<table class="listing">
  <tr>
    <th>Name</th>
    <th>Plan Type</th>
     <th>Sms Limit</th>
     <th>View</th>
   </tr>

<% @schools.each do |school| %>
  <tr class="<%=cycle("odd", "even")%>">
    <td><%=h school.school_name %></td>
    <td><%=h school.plan_type %></td>
     <td><%=h school.sms_limit %></td>
    <td><%= link_to '<img src="/images/view.gif" title="View"/>', admin_school_path(school)%></td>
   </tr>
<% end %>
</table>


<br />
<div class="clear"></div>
</div>
