<% form_for(@letter||Letter.new,:html => {:id => 'main-form'}) do |f| %>
        <%= f.error_messages %>
     <div class="create_new">
   <div class="left part1">
	  <fieldset>
             <p>
    	      <%= f.label :reference %><br />
    	      <%= f.text_field :reference, :class => 'email' %>
  	    </p> 
            <br />
  	    <p>
    	      <%= f.label :letter_content %><br />
    	      <%= f.text_area :content %>
  	    </p> 
	    <span>
    		 <%= f.submit 'Print letter' %> 
  	    </span>
	  </fieldset>
        </div>

     <div id="select_group" class ='part2'>
        <label> Select class</label><br /><br />
         <%= f.select :group_id, all_groups%>
      	      		<%= image_tag("spinner.gif",
               		:border => 0,
              		:id => "spinner1",
             	 	:style =>"display: none;" ) %>  
          
         	<%= observe_field("letter_group_id", :frequency => 1,
                  :before => "jQuery('#spinner1').show();",
                  :success => "jQuery('#spinner1').hide();",
                  :url => {:action=>'group_students'}, :method => :get,
                  :with => "'group_id=' + value")%>
                <br /><br />
                <div id="students"></div> 
	</div>
    <div class = 'clear'> </div>	
  </div>
<% end %>


