<% form_for(@letter||Letter.new,:html => {:id => 'main-form'}) do |f| %>
  <%= f.error_messages %>
    <div class="left">
	  <table class="form_style large">
        <tr>
    	  <th><%= f.label :reference %></th>
    	  <td><%= f.text_field :reference, :class => 'email' %></td>
  	    </tr>
        <tr>
  	      <th><%= f.label :letter_content %></th>
    	  <td><%= f.text_area :content %></td>
  	    </tr> 
      </table>
      <div class="btns" style="margin-left:110px;">
	    <span><%= f.submit 'Print letter' %></span>
	  </div>
     </div>

     <div id="select_group" class ='part2'>
      <table class="form_style">
        <tr>
          <th><%= f.label :Select_class %></th>
          <td><%= f.select :group_id, all_groups%>
      	      		<%= image_tag("spinner.gif",
               		:border => 0,
              		:id => "spinner1",
             	 	:style =>"display: none;" ) %>  
          
         	<%= observe_field("letter_group_id", :frequency => 1,
                  :before => "jQuery('#spinner1').show();",
                  :success => "jQuery('#spinner1').hide();",
                  :url => {:action=>'group_students'}, :method => :get,
                  :with => "'group_id=' + value")%>
                </td>
             </tr>
           </table>
                <div id="students"></div> 
	</div>
    <div class = 'clear'> </div>	

<% end %>


