<div class = 'form_wrapper'> 
 <h1 class = 'heading left'>Showing letter prepared for <span><%= @letter.group.name %></span> </h1>
 <div class = 'right'<%= link_to image_tag("closelabel.gif", :title=> "close"),:back%> </div>
 <div class="clear" ></div>
 <hr />
 <div class = 'left part1'>
   <table class="show_page">
	
		<tr>
			  <td style ='border: 1px solid #ccc;' colspan ='2'><%=h @letter.content %></td>
		</tr>
                <tr>
  		   <td ><%=h @letter.created_at.strftime('%d/%M/%Y') %></td><td class ='blue'><%=h @letter.user.name %></td>
		</tr> 
	        <tr><td colspan ='2'><%= link_to "<span>Print this letter</span>", print_letter_path(@letter), :class => 'buttonAdd' %></td></tr>
	</table>

	
  	<!-- <%= link_to 'Delete', @letter, :confirm => 'Are you sure?', :method => :delete %> -->
 </div>
 <div class = 'right part2'>
     <h1 class = 'heading'>Students list </h1>
		<table class="student_list">
		<tr>
			<th>Student name</th>
			<th>Roll number</th>
		</tr>
		<%@students.each do  |student|%>
	 	<tr class="<%=cycle("odd", "even")%>">
			<td><%= student.name%></td>
			<td><%= student.roll_number%></td>
  		</tr>
  		<%end%>
	</table>
</div>

<div class="clear" ></div>
</div>	

 
