<div class="create_new">
<% form_for(@tag) do |f| %>
  <%= f.error_messages %>
<fieldset>
  <p>
    <%= f.label :Tag_name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
   <span>
    <%= f.submit 'Update' %>
</span>
<% end %>

</fieldset>

</div>
<div class="clear"></div>
