  <div class ='form_wrapper'>
 <h1 class ='heading'>Tag wise report</h1>
 <hr /><br />
  <% form_for(:report, :url => admin_tag_reports_path, :html => {:id => 'main-form',:method => :get}) do |f| %>
 Class:<%= f.select :group_id, find_all_groups,:selected => (@group.id unless @group.nil?)%>
 Month: <%= f.select :month ,[["This month","tm"],["Last month", "lm"], ["Last 2 months", "l2"], ["Last 3 months", "l3"], ["Last 4 months", "l4"]],:selected => (params[:report][:month] unless params[:report].nil?)%>
 <%= f.submit "Get report" %> &nbsp;&nbsp;&nbsp;&nbsp;
    <%= link_to_function "#{image_tag('table.png')} List", "jQuery('#graph').hide(); jQuery('#list').show(); return false;" %> &nbsp; | &nbsp;
     <%= link_to_function "#{image_tag('chart_pie.png')} Pie Chart", "jQuery('#graph').show(); jQuery('#list').hide(); return false;" %> 
  <%end%>
  <br /> <br />
    <%unless @month.nil?%>
   		 <label><%= "Tag wise total messages sent to #{@group.name rescue 'all classes'} #{display(@month)}"%> </label>
   <%else%>
     <label>Tag wise total messages sent to all classes  in the month of<%= month_print(Time.now.month)%>-<%= Time.now.strftime('%y')%> </label>
   <%end%>  
		<div id = 'graph' style ="display:none ; clear:both; border: 1px solid #ccc; width: auto;">
   			<%= render :partial =>"shared/pie_graph"%>
   </div> 
  <div id ="list">
  <br /> <br />
 <%unless @tags.blank?%>
 <table class="student_group" width="100%" border="1" cellpadding="5px">
   <th>Tag name</th>
   <th>Total</th>
  <%@tags.each do |tag|%>
  <tr>
    <td><%= tag.name%></td>
    <td><%= @tag[tag.id].nil? ? 0 : @tag[tag.id] %></td>
  </tr>
  <%end%>
   </table>
 <%end%>
 
 </div>
  </div>
  
