	<%= render :partial => "share_letter_links"%>
<h1>Class wise letter list</h1>
<%= image_tag Gchart.line(:size => '200x150',
:title => "Graph",
:bg => 'efefef',
:legend =>@classes_name ,
:bar_colors => 'd7b2b2,eaa2a2',
:stacked => false,
:data => @classes_letter_size) %>
<br />
<%= image_tag Gchart.bar(:size => '200x150',
:title => "Graph",
:bg => 'efefef',
:legend =>@classes_name  ,
:bar_colors => 'd7b2b2,eaa2a2',
:stacked => false,
:data =>@classes_letter_size) %>
<% for group in @classes%>
<br />
<%= group.name%> (<%= find_class_letters(group).size%>)<br />
	
	<table class ="listing">
  		<tr>
  		    <th>Created by</th>
    			<th>Content</th>
    			<th>Class</th>
    			<th>View</th>
  		</tr>
	<% for letter  in find_class_letters(group)%>
  		<tr class="<%=cycle("odd", "even")%>">
  		    <td><%= letter.user.name%></td>
    			<td><%= message_body_filter(letter.content)%></td>
     			<td><%= letter.group.name %></td>
    			<td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>', letter_report_path(letter)%></td>
  		</tr>
		<% end %>
	</table>
	<div class = 'clear'> </div>
	<% end %>
