 <h1>Teacher report</h1>
 
 <% form_for(:report, :url => teacher_reports_path, :html => {:id => 'main-form',:method => :get}) do |f| %>
  Month: <%= f.select :month ,[["This month","tm"],["Last month", "lm"], ["Last 2 months", "l2"], ["Last 3 months", "l3"], ["Last 4 months", "l4"]]%>
    Communication type:<%= f.select :type ,[["Message","messages"],["Email", "emails"], ["Letter", "letters"]]%>
     <%= f.submit "Report" %>  <%= link_to_function "List", "jQuery('#graph').hide(); jQuery('#list').show(); return false;" %> |
     <%= link_to_function "Pie Chart", "jQuery('#graph').show(); jQuery('#list').hide(); return false;" %> 
  <%end%>
    <%unless @type.nil?%>
   	 <h2>Teachers sent <%= @type%> in <%= @month%></h2>
   <%else%>
     <h2>Teachers  sent messages in <%= month_print(Time.now.month)%> </h2>
   <%end%> 
<%unless @teachers.nil?%>
<div id = 'graph' style ="display:none ; clear:both">
   <%= render :partial =>"shared/pie_graph"%>
 </div> 
  <div id ="list">
  <br /> <br />
   <table class="student_group" width="100%" border="1" cellpadding="5px">
   <th>Teacher name</th>
   <th>Total</th>
  <%@teachers.each do |teacher|%>
  <tr>
    <td><%= teacher.name%></td>
    <td><%= @teacher[teacher.id].nil? ? 0 :@teacher[teacher.id] %></td>
  </tr>
  <%end%>
   </table>
 <%end%>
   </div>
