<div id = 'top' style ="display:none ; clear:both">
     <div class = 'right'> 
        <%= link_to_function image_tag("cancel.gif", :title=> "Cancel"), "jQuery('#top').hide(); jQuery('#button').show(); return false;" %> 
     </div>
     <h1>New class record</h1>
     <%= render :partial =>"new"%>
     <div class = 'clear'> </div>
</div>


<div id = 'listing-top'>
    <% if current_user.has_role?('admin')%>
       <div id = 'button'>
	   <span>
               <%= link_to_function "<span>New class record </span>", "jQuery('#top').show(); jQuery('#button').hide(); return false;", :class => 'buttonAdd' %>
           </span>
       </div>
    <%end%> 	
         
    <h1>Listing all classes</h1>
    <div class="clear"></div>
    
</div>
<hr />
<div id="listing_file">
   <table class="listing" border="1">
     <tr>
    	<th><%= order @search, :by => :name, :as => "Name"%></th>
    	<th><%= order @search, :by => :status, :as => "Status"%></th>
    	<th>View</th>
        <th>Subjects</th>
        <th>Student list</th>
    </tr>
	<% @groups.each do |g| %>
    <tr class="<%=cycle("odd", "even")%>">
    	<td><%=h g.name %></td>
    	<td><%= h g.status%></td>
    	<td><%= link_to '<img src="/images/view.gif" title="View"/>', admin_group_path(g)%> </td>
        <td><%= link_to "Subjects", edit_admin_group_path(g) %>  </td>
        <td><%= link_to "Student list", admin_group_student_classes_path(g.id) %>  </td>
    </tr>
   <% end %>
  </table>
 <div id="pg"><%=will_paginate @groups%></div>
</div>
<div class="sidebar">
  <h1>Search</h1>
	<% form_for @search do |f| %>
	<table>
    	  <tr>
      	    <th>Class name</th>
	  </tr>
          <tr>
	    <td><%= f.text_field :name_like %></td>
	  </tr>
	  <tr>
       	    <th>Student name</th>
	  </tr>
	  <tr>
	    <td><%= f.text_field :students_name_like%></td>
	  </tr>
	  <tr>
       	    <td class="btn"><%= f.submit "Search" %> <input type="reset" value="Reset"></td>
  	  </tr>
  	</table>
    <%end%>
</div>
<div class="clear" ></div>
