<div id="select_group">
	<table class="student_group" width="100%" border="1" cellpadding="5px">
	<tr>
		<th><input type='checkbox' title ="Check All/Uncheck" name='checkall' onclick='checkedAll();', checked="checked" /></th>
	  	<th>Roll No</th>
                <th> Student Name</th>
	  	<th>Mobile No</th>
	  	</tr>
	  	<%unless @students.nil?%>
		<%@students.each do |student| %>
	
  	<tr class="<%=cycle("odd", "even")%>">
       		<td><%= check_box_tag("students[]", student.id, true, :id=> student.id)%></td>
                <td><%=h student.roll_number %></td>
    		<td><b><%=h student.name %></b></td>
		<td><%=h student.number%></td>
  	</tr>
	<%end%>
	<%end%>	
	
	</table>
</div>
<div class="clear" ></div>	 
