	<div id = 'hide' style ="display:none">
		<span><%= link_to_function '<img src="/images/cancel.gif" title="Cancel"/>', "jQuery('#mail').hide(); jQuery('#show').show(); jQuery('#hide').hide();return false;" %> </span>
</div>

<div id = 'mail' style ="display:none ; clear:both">
     		<%= render :partial =>"new"%>
</div>

<div id="listing_file">
 	<div id = 'show'>
          	<span> <%= link_to_function 'New Email', "jQuery('#mail').show(); jQuery('#hide').show(); jQuery('#show').hide(); return false;" %></span>
    	</div>

	<h1>Listing Sent Mails</h1>
	<table class ="listing">
  		<tr>
  		    <th>Sent by</th>
    			<th>Subject</th>
    			<th>Body</th>
    			<th>Class</th>
    			<th>View</th>
  		</tr>
		<% @emails.each do |email| %>
  		<tr class="<%=cycle("odd", "even")%>">
  		     <td><%= email.user.name%>
     			<td><%=h email.subject %></td>
     			<td><%=h message_body_filter(email.body) %></td>
     			<td><%=h email.group.name%></td>
     			<td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>', email%></td>
      		</tr>
		<% end %>
	</table>
	<div id="pg"><%=will_paginate @groups%></div>
</div>
<div class="sidebar">
	<h1>Search </h1>
	<% form_for @search do |f| %>
 		<table>
     			<tr>
      				<th>Subject </th>
			</tr>
			<tr>
				<td><%= f.text_field :subject_like %></td>
			</tr>
			<tr>
      				<th>Email Body </th>
			</tr>
			<tr>
				<td><%= f.text_field :body_like %></td>
			</tr>
			<tr>
       				<th>Class Name </th>
			</tr>
			<tr>
				<td><%= f.text_field :group_name_like%></td>
			</tr>
		<tr>
       				<th>Sender name </th>
			</tr>
			<tr>
				<td><%= f.text_field :user_name_like%></td>
			</tr>
			
			<tr>
       				<th>Student Name </th>
			</tr>
			
			<tr>
				<td><%= f.text_field :students_name_like%></td>
			</tr>
			<tr>
       				<td class="btn"><%= f.submit "Search" %> <input type="reset" value="Reset"></td>
  			</tr>
  		</table>
  	<%end%>
</div>
<div class="clear" ></div>

