<div id = 'top' style ="display:none ; clear:both">
     <div class = 'right'> 
        <%= link_to_function image_tag("cancel.gif", :title=> "Cancel"), "jQuery('#top').hide(); jQuery('#button').show(); return false;" %> 
     </div>
     <%= render :partial =>"new"%>
     <div class = 'clear'> </div>
</div>


<div id = 'listing-top'>
    <% if current_user.has_role?('admin')%>
       <div id = 'button'>
	   <span>
               <%= link_to_function 'Write new email', "jQuery('#top').show(); jQuery('#button').hide(); return false;" %>
           </span>
       </div>
    <%end%> 	
         
    <h1>Listing all sent emails</h1>
    <div class="clear"></div>
</div>

<div id="listing_file">
	<table class ="listing">
  		<tr>
  		    <th>Sent by</th>
    			<th>Subject</th>
    			<th>Body</th>
    			<th>Class</th>
    			<th>View</th>
  		</tr>
		<% @emails.each do |email| %>
  		<tr class="<%=cycle("odd", "even")%>">
  		     <td><%= email.user.name%>
     			<td><%=h email.subject %></td>
     			<td><%=h message_body_filter(email.body) %></td>
     			<td><%=h email.group.name%></td>
     			<td class="view"><%= link_to '<img src="/images/view.gif" title="View"/>', email%></td>
      		</tr>
		<% end %>
	</table>
	<div id="pg"><%=will_paginate @groups%></div>
</div>
<div class="sidebar">
	<h1>Search </h1>
	<% form_for @search do |f| %>
 		<table>
     			<tr>
      				<th>Subject </th>
			</tr>
			<tr>
				<td><%= f.text_field :subject_like %></td>
			</tr>
			<tr>
      				<th>Email Body </th>
			</tr>
			<tr>
				<td><%= f.text_field :body_like %></td>
			</tr>
			<tr>
       				<th>Class Name </th>
			</tr>
			<tr>
				<td><%= f.text_field :group_name_like%></td>
			</tr>
		<tr>
       				<th>Sender name </th>
			</tr>
			<tr>
				<td><%= f.text_field :user_name_like%></td>
			</tr>
			
			<tr>
       				<th>Student Name </th>
			</tr>
			
			<tr>
				<td><%= f.text_field :students_name_like%></td>
			</tr>
			<tr>
       				<td class="btn"><%= f.submit "Search" %> <input type="reset" value="Reset"></td>
  			</tr>
  		</table>
  	<%end%>
</div>
<div class="clear" ></div>

