<div class = 'show_wrapper'>
  <h1 class = 'heading left'>Email sent to <span> <%= @email.group.name %></span> </h1>
  <div class = 'right'<%= link_to image_tag("closelabel.gif", :title=> "close"), emails_url %> </div>
  <br /><br />
  <div class = 'left part1'>
	<table class="show_page">
                <tr>
  			<th>Subject:</th>
  			<td><%=h @email.subject %></td>
		</tr>
		<tr>
			<th>Mail content:</th>
  			<td><%=h @email.body %></td>
		</tr>
		
		
	</table>
 </div>
 <div class = 'right part2'>
 	<table  class="student_list">
           <h1 class = 'heading'>Students list </h1>
		<tr>
			<th>Student name</th>
			<th>Roll No</th>
		</tr>
		<%@students.each do  |student|%>
		<tr class="<%=cycle("odd", "even")%>">
			<td><%= student.name%></td>
			<td><%= student.roll_number%></td>
  		</tr>
  			<%end%>
	</table>
	<!-- <td><%= link_to 'Destroy', @email, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </div>

  <div class="clear" ></div>
</div>
