<div class = 'form_wrapper'>
  <h1 class = 'heading left'>email sent to <span> <%= @email.group.name %></span> </h1>
  <div class = 'right'<%= link_to image_tag("closelabel.gif", :title=> "close"),:back%> </div>
  <div class="clear" ></div>
  <hr />
  <div class = 'left part1'>
	<table class="show_page">
                <tr>
  		   <td colspan ='2'><%=h @email.subject %></td>
		</tr>
		<tr>
  		   <td  style ='border: 1px solid #ccc;' colspan ='2'><%=h @email.body %></td>
		</tr>
		<tr>
  		   <td ><%=h @email.created_at.strftime('%d/%m/%Y') %></td><td class ='blue'><%=h @email.user.name %></td>
		</tr> 
		
	</table>
 </div>
 <div class = 'right part2'>
 	<table  class="student_list">
           <h1 class = 'heading'>Students list </h1>
		<tr>
			<th>Student name</th>
			<th>Roll No</th>
		</tr>
		<%@students.each do  |student|%>
		<tr class="<%=cycle("odd", "even")%>">
			<td><%= student.name%></td>
			<td><%= student.roll_number%></td>
  		</tr>
  			<%end%>
	</table>
	<!-- <td><%= link_to 'Destroy', @email, :confirm => 'Are you sure?', :method => :delete %></td> -->
  </div>

  <div class="clear" ></div>
</div>
