<%fields_for :user do |f|%>
<fieldset>
<%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>

   <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>

   <p>
    <%= f.label :email %><br />
    <%= f.text_field :mail_id %>
  </p>

 <p>
    <%= f.label :designation %><br />
    <%= f.text_field :designation %>
  </p>

 
</fieldset>
<%end%>
<div class="clear"></div>

