<%fields_for :user do |f|%>
<fieldset>
<%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <br />
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
<br />
   <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
<br />
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>

   <p>
    <%= f.label :email %><br />
    <%= f.text_field :mail_id %>
  </p>
<br />
 <p>
    <%= f.label :designation %><br />
    <%= f.text_field :designation %>
  </p>
 <br />
 
</fieldset>
<%end%>
<div class="clear"></div>

