<div class='form_wrapper'>
  <div>
    <span class ='right'><%= link_to "<span>New user</span>", new_admin_user_path , :class => 'buttonAdd'%></span>
    <h1 class ="heading left">Listing users</h1>
    <div class="clear"></div>
  </div>

<% form_for @search do |f| %>
 	User name:&nbsp;<%= f.text_field :name_like %>
		<span><%= f.submit "Search" %></span>
<%end%>

<table class="listing">
  <tr>
    <th>Name</th>
    <th>User name</th>
    <th>Designation</th>
    <th>Email</th>
    <th>View</th>
   </tr>

<% @users.each do |user| %>
  <tr class="<%=cycle("odd", "even")%>">
    <td><%=h user.name %></td>
    <td><%=h user.username %></td>
     <td><%=h user.designation %></td>
     <td><%=h user.mail_id %></td>
    <td><%= link_to '<img src="/images/view.gif" title="View"/>', admin_user_path(user)%></td>
   </tr>
<% end %>
</table>
<%= will_paginate @users%>
<br />
<div class="clear"></div>
</div>
