<div id = 'listing-top'>
    <%if current_user.has_role?('admin') && !current_user.has_role?('super_admin')%>
      <span class ='right'><%= link_to "<span>New teacher</span>", new_admin_user_path(:role =>'teacher',:school_id=>@school.id) , :class => 'buttonAdd'%></span>
    <%end%>
    <h1 class ="heading left">Listing teachers</h1>
    <div class="clear"></div>
</div>

<hr />
<div id="listing_file">
<table class="listing" border="1">
  <tr>
    <th>Name</th>
    <th>User name</th>
    <th>Designation</th>
    <th>Email</th>
    <th>View</th>
   </tr>

<% @users.each do |user| %>
  <tr class="<%=cycle("odd", "even")%>">
    <td><%=h user.name %></td>
    <td><%=h user.username %></td>
     <td><%=h user.designation %></td>
     <td><%=h user.mail_id %></td>
    <td><%= link_to '<img src="/images/view.gif" title="View"/>', admin_user_path(user)%></td>
   </tr>
<% end %>
</table>
<div id="pg"><%= will_paginate @users%></div>
</div>
<div class="sidebar">
 <h1>Search </h1>
<% form_for @search do |f| %>
<table>
  <tr>
    <th>Teacher name</th>
  </tr>
  <tr>
    <td><%= f.text_field :name_like %></td>
  </tr>
  <tr>
    <td class="btn"><%= f.submit "Search" %></td>
  </tr>
</table>
<%end%>
</div>
<div class="clear"></div>


