<div class ='form_wrapper'>
 <h1 class ='heading'>Monthly reports</h1>
 <hr /><br />
 <% form_for(:report, :url => admin_month_reports_path, :html => {:id => 'main-form',:method => :get}) do |f| %>
   Month: <%= f.select :month ,[["This month","tm"],["Last month", "lm"], ["Last 2 months", "l2"], ["Last 3 months", "l3"], ["Last 4 months", "l4"]]%>
   <%= f.submit "Get report" %> &nbsp;&nbsp;&nbsp;&nbsp;
     <%= link_to_function "#{image_tag('table.png')} List", "jQuery('#graph').hide(); jQuery('#list').show(); return false;" %> &nbsp; | &nbsp;
     <%= link_to_function "#{image_tag('chart_pie.png')} Pie Chart", "jQuery('#graph').show(); jQuery('#list').hide(); return false;" %> 
  <%end%>
  <br /><br />
<div id = 'graph' style ="display:none ; clear:both; border: 1px solid #ccc; width: auto;">
   <%= render :partial =>"shared/pie_graph"%>
   </div> 
   <div id = "list">
      <br /> 
      <label>Communication <%= @month.blank? ? display('tm') : display(@month)%> </lablel
      <br /> <br />
      Messages:
 <%= @messages_size.nil? ? 0 : @messages_size%>
 <br />
Letters:
 <%= @letters_size.nil? ? 0 : @letters_size%>
 <br />
Emails:
 <%= @emails_size.nil? ? 0 : @emails_size%>
 <br />
 </div>
 
