<%= javascript_include_tag "/datetimepicker/jquery13/jquery-1.3.2.min.js","/datetimepicker/jquery_ui_datepicker/jquery_ui_datepicker.js","/datetimepicker/jquery_ui_datepicker/i18n/ui.datepicker-de.js","/datetimepicker/jquery_ui_datepicker/timepicker_plug/timepicker.js" %>
<%= stylesheet_link_tag "/datetimepicker/jquery_ui_datepicker/timepicker_plug/css/style.css","/datetimepicker/jquery_ui_datepicker/smothness/jquery_ui_datepicker.css"%> 
  <h1 class ='heading'>Editing exam</h1>
<% form_for(@exam,:html => {:id =>'main-form'}) do |f| %>
 <table class="form_style">
  <%= f.error_messages %>
  <tr>
    <th><%= f.label :exam_type %></th>
    <td><%= f.text_field :exam_type %></td>
  </tr>
   <tr>
    <th><%= f.label :name %></th>
    <td><%= f.text_field :name,:id =>"date3"%></td>
  </tr>
  <tr>
    <th><%= f.label :from_date %></th>
    <td><%= f.text_field :from_date,:class =>'textbox-small' ,:id => 'date4'%></td>
  </tr>
   <tr>
    <th><%= f.label :to_date %></th>
    <td><%= f.text_field :to_date,:class =>'textbox-small' ,:id => 'date2'%></td>
  </tr>
</table>
<%@classes.each do |clas|%>
   <div id="students">
   <h2 style="margin:20px 0px 0px 0px; padding:0px; color:#bd2e75"><%=h clas.name%></h2>
   <table class="student_list" border="1">
    <tr>
     <th><input type='checkbox' title ="Check All/Uncheck" name='checkall' onclick='checkedAll();'/></th>
     <th width='15%'>Subject name</th>
     <th width="15%">Maximum marks</th>
     <th width="15%">Passing marks</th> 
     <th width="20%">Exam date</th>
     <th width="20%">From time</th>
     <th width="10%">To time</th>
    </tr>
 <%@array =[]%>
  <%ExamSubject.find(:all, :conditions => ['group_id = ? and exam_id = ?', clas.id, @exam.id ]).each do |exam_subject| %>
   <tr class="<%=cycle("odd", "even")%>">
    <td><%= check_box_tag("class[#{clas.id}]subjects[]", exam_subject.subject.id, true,:id=> exam_subject.subject.id)%></td>
     <td><%=h exam_subject.subject.name%></td>
     <td><%= text_field_tag("class[#{clas.id}][#{exam_subject.subject.id}]max_marks",exam_subject.maximum_marks) %></td> 
     <td><%= text_field_tag("class[#{clas.id}][#{exam_subject.subject.id}]passing_marks",exam_subject.passing_marks)%></td>
     <td><%= date_select "class[#{clas.id}][#{exam_subject.subject.id}]exam_date", "exam_date",:default => find_exam_date(clas,exam_subject.subject,@exam)%></td>
     <td><%= time_select "class[#{clas.id}][#{exam_subject.subject.id}]from_time", "from_time",{:default => find_from_time(clas,exam_subject.subject,@exam) ,:ignore_date => true }%></td>
      <td width ="100%">   <%= time_select "class[#{clas.id}][#{exam_subject.subject.id}]to_time", "to_time",{:default => find_to_time(clas,exam_subject.subject,@exam),:ignore_date => true }%></td>
   </tr>     
   <%end%>
  </table>
<br />
</div>
<%end%>
<div class="btns">
 <span><%= f.submit 'Update' %></span>
</div>
<% end %>
</div>
<script type="text/javascript">
	$(function() {
		$('#date4').datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date4', altFormat: 'dd-mm-yy',
			changeMonth: true,
			changeYear: true
		});
	});
	</script>
 <script type="text/javascript">
	$(function() {
		$('#date2').datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date2', altFormat: 'dd-mm-yy',
			changeMonth: true,
			changeYear: true
		});
	});
	</script>

<script type="text/javascript">
	/* <![CDATA[ */
		$(function() {
				  $("<%= @array.join(',')%>").datetime({
									userLang	: 'en',
									americanMode: true,
								});
				 					
			});
	/* ]]> */
	</script>
 <div class="clear"></div> 
</div>
