<%= javascript_include_tag "/datetimepicker/jquery13/jquery-1.3.2.min.js","/datetimepicker/jquery_ui_datepicker/jquery_ui_datepicker.js","/datetimepicker/jquery_ui_datepicker/i18n/ui.datepicker-de.js","/datetimepicker/jquery_ui_datepicker/timepicker_plug/timepicker.js" %>
<%= stylesheet_link_tag "/datetimepicker/jquery_ui_datepicker/timepicker_plug/css/style.css","/datetimepicker/jquery_ui_datepicker/smothness/jquery_ui_datepicker.css"%> 
<div class='form_wrapper'>
  <h1 class ='heading'>Editing exam</h1>
    <div class="create_new">

<% form_for(@exam,:html => {:id =>'main-form'}) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :exam_type %><br />
    <%= f.text_field :exam_type %>
  </p>
   <p>
    <%= f.label :name %><br />
    <%= f.text_field :name,:id =>"date3"%>
  </p>
  <p>
    <%= f.label :from_date %><br />
    <%= f.text_field :from_date,:class =>'textbox-small' ,:id => 'date'%>
  </p>
      <p>
    <%= f.label :to_date %><br />
    <%= f.text_field :to_date,:class =>'textbox-small' ,:id => 'date1'%>
  </p>
<%@classes.each do |clas|%>
   <h2><%=h clas.name%><br />
   <table class="student_list" border="1" width ="100%">
    <tr>
     <th><input type='checkbox' title ="Check All/Uncheck" name='checkall' onclick='checkedAll();'/></th>
     <th>Subject name</th>
     <th>Maximum marks</th>
     <th>Passing marks</th> 
     <th>From</th>
     <th>To</th>
    </tr>
 <%@array =[]%>
  <%clas.subjects.find(:all).each do |subject|%>
   <tr class="<%=cycle("odd", "even")%>">
    <td><%= check_box_tag("class[#{clas.id}]subjects[]", subject.id, true,:id=> subject.id)%></td>
     <td><%=h subject.name%></td>
     <td><%= text_field_tag("class[#{clas.id}][#{subject.id}]max_marks",subject.max_marks) %></td> 
     <td><%= text_field_tag("class[#{clas.id}][#{subject.id}]passing_marks",subject.passing_marks)%></td>
       <td width ="100%"><%= text_field_tag("class[#{clas.id}][#{subject.id}]from_date","#{@exam.from_date} 00:00:00")%></td>
      <td><%= text_field_tag("class[#{clas.id}][#{subject.id}]to_date","#{@exam.to_date} 00:00:00")%></td>

<%@array << "#class_#{clas.id}_#{subject.id}from_date"%>
<%@array << "#class_#{clas.id}_#{subject.id}to_date"%>
   </tr>     
   <%end%>
  </table>
<%end%>
 <span><%= f.submit 'Update' %></span>
<% end %>
</div>
<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date', altFormat: 'dd-mm-yy' }) 
			  });
	</script>

<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date1").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date1', altFormat: 'dd-mm-yy' }) 
			  });
	</script>
<script type="text/javascript">
	/* <![CDATA[ */
		$(function() {
				  $("<%= @array.join(',')%>").datetime({
									userLang	: 'en',
									americanMode: true,
								});
				 					
			});
	/* ]]> */
	</script>
 <div class="clear"></div> 
</div>
