<div class='form_wrapper'>
  <div>
    <%if current_user.has_role?('admin')%>
      <span class ='right'><%= link_to "<span>New exam</span>", new_exam_path, :class => 'buttonAdd'%></span>
    <%end%>
    <h1 class ="heading left">Listing exams</h1>
    <div class="clear"></div>
  </div>


<table class="listing">
  <tr>
   <th>Exam type</th>
    <th>Name</th>
    <th>From date</th>
      <th>To date</th>
      <th>Action</th>
  </tr>

<%unless @exams.blank?%>
<% @exams.each do |exam| %>
  <tr class="<%=cycle("odd", "even")%>">
   
    <td><%=h exam.exam_type %>
  <%exam.groups.find(:all,:conditions=>['status =?','Active']).each do |group|%>
  <br />
  <%= group.name%>
<%if find_marks(exam,group).blank?%> 
<%= link_to "Enter marks",new_group_exam_mark_path(group.id,exam.id)%>
<%else%>
  <%= link_to "Edit marks",edit_group_exam_mark_path(group.id,exam.id,1)%>
  <%end%>
<%end%>
</td>
     <td><%=h exam.name %></td>
    <td><%=change_format_to_long(exam.from_date)%></td>
     <td><%=change_format_to_long(exam.to_date)%></td>
    <td><%= link_to 'Show', exam_path(exam) %></td>
  </tr>
<% end %>
<%end%>
</table><br/>
<div id="pg"><%=will_paginate @exams%>	</div>

<div class="clear"></div>
</div
