<div id = 'listing-top'>
  <%if current_user.has_role?('admin')%>
    <span class ='right'><%= link_to "<span>New exam</span>", new_exam_path, :class => 'buttonAdd'%></span>
  <%end%>
  <h1 class ="heading left">Listing exams</h1>
  <div class="clear"></div>
</div>
<hr />
<div id="listing_file">

<table class="list" border="1">
<%unless @exams.blank?%>
   <% @exams.each do |exam| %>
<tr class="<%=cycle("odd", "even")%>">
<td valign="top">
<div class="left"><h3> <%=h exam.exam_type %></h3><p>From : <%=change_format_to_long(exam.from_date)%></p></div>
<div class="right"><h3><%=h exam.name %></h3><p>To : <%=change_format_to_long(exam.to_date)%></p></div>


<div class="clear"></div>
<%find_exam_groups(exam).each do |group|%>
     
	 <div class="marks">
       <br /> <p> <b><%= group.name%></b>
         <%if find_marks(exam,group).blank?%> 
              <%= link_to "Enter marks for an entire class",new_group_exam_mark_path(group.id,exam.id)%>
         <%else%>
              <%= link_to "Edit marks",edit_group_exam_mark_path(group.id,exam.id,1)%>
         <%end%></p>
<table class="marklist">
         <%group.subjects.find(:all).each do |subject|%>
          <tr><th><%= subject.name%></th>
         <td><%if find_subject_marks(exam,group,subject).blank?%>
            <%= link_to "Enter Mark",mark_individual_subject_group_exam_mark_path(group.id,exam.id,subject.id)%>
         <%else%>
       <%= link_to "Edit marks",edit_mark_individual_subject_group_exam_mark_path(group.id,exam.id,subject.id)%>
         <%end%></td>
     </tr>
    <%end%></table>
  </div>
     
 <%end%>


</td>

<td valign="top">
<%= link_to '<img src="/images/view.gif" title="View"/>', exam_path(exam) %>
</td>
</tr>
<% end %>
<%end%>
</table>




<div id="pg"><%=will_paginate @exams%>	</div>

</div>
<div class="sidebar">
	<h1>Search </h1>
	<% form_for @search do |f| %>
 		<table>
                        <tr>
       				<th>Exam Type</th>
			</tr>
			
			<tr>
				<td><%= f.text_field :exam_type_like%></td>
			</tr>
     			<tr>
      				<th>Name</th>
			</tr>
			<tr>
				<td><%= f.text_field :name_like %></td>
			</tr>
			
			<tr>
       				<th>Class name </th>
			</tr>
			<tr>
				<td><%= f.text_field :groups_name_like%></td>
			</tr>
				
			
			<tr>
       				<td class="btn"><%= f.submit "Search" %> <input type="reset" value="Reset" /></td>
  			</tr>
  		</table>
  	<%end%>
</div>
  <div class="clear" ></div>


