<% form_for(@exam)do |f| %>
<div class = 'right'> 
 <p>
  <%= f.label :select_class %><br />
  <% get_groups.each do  |group| %>
  <%= group.name %>   <%= check_box_tag "group_ids[]", group.id %>
  <%end%>  
 </p>
</div>
<div class="left">
   <%= f.error_messages %>
   <table class="form_style">
    <tr>
      <th><%= f.label :exam_type %></th>
      <td><%= f.text_field :exam_type %></td>
    </tr>
    <tr>
      <th><%= f.label :name %></th>
      <td><%= f.text_field :name %></td>
    </tr>
    <tr>
      <th><%= f.label :from_date %></th>
      <td><%= f.text_field :from_date, :class =>'textbox-small' ,:id => 'date' %></td>
    </tr>
    <tr>
      <th><%= f.label :to_date %></th>
      <td><%= f.text_field :to_date, :class =>'textbox-small' ,:id => 'date1' %></td>
   </tr>
  </table>
    
  <div class="btns" style="margin-left:80px;">
  <span><%= f.submit 'Create' %></span>
 </div>
</div>
 <% end %>


<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date', altFormat: 'dd-mm-yy' }) 
			  });
	</script>

<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date1").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date1', altFormat: 'dd-mm-yy' }) 
			  });
	</script>
         


<div class="clear"></div>

