<div class = 'form_wrapper'>
  <table class="show_page">
    <tr>
      <th>Exam type:</th>
      <td><%=h @exam.exam_type %></td>
    </tr>
    <tr>
      <th> Name:</th>
      <td><%=h @exam.name %></td>
    </tr>
    <tr>
      <th>From date:</th>
      <td><%=change_format_to_long(@exam.from_date)%></td>
      
    </tr>
<tr>
      <th>To date:</th>
      <td><%=change_format_to_long(@exam.to_date)%></td>
    </tr>
 </table>
 
 <% for group in  @exam.groups.find(:all)  -%>
      
    <table class="student_list" border="1" width ="100%">
     
        <%= group.name  %> <%if find_marks(@exam,group).blank?%> 
<%= link_to "Enter marks",new_mark_path(:exam_id => @exam.id,:group_id => group.id)%>
<%else%>
  <%= link_to "Edit marks",edit_mark_path(:exam_id => @exam.id,:group_id => group.id)%>
<%end%>
       <tr> <th> Subject </th> <th> Maximum mark </th> <th>  passing mark </th><th>From</th><th>To</th> </tr>
       <% get_subjects_for_exam_group(group).each do |exam_subject| %>
         <tr>
             <td><%= exam_subject.subject.name%></td>
             <td> <%= exam_subject.maximum_marks %></td>
             <td> <%= exam_subject.passing_marks %></td>
              <td> <%= exam_subject.from_date.strftime('%d-%m-%Y %H:%M') %></td>
               <td> <%= exam_subject.to_date.strftime('%d-%m-%Y %H:%M') %></td>
         </tr>
       <%end%>
       
    </table>
    <br />
    
   
 <% end -%>


<table>
   <tr>
      <td><%= button_to 'Edit record', edit_exam_path(@exam),:method => :get %> &nbsp;</td>
   </tr>
</table>

</div>
