<table class="show_page">
    <tr>
      <th>Exam type:</th>
      <td><%=h @exam.exam_type %></td>
    </tr>
    <tr>
      <th> Name:</th>
      <td><%=h @exam.name %></td>
    </tr>
    <tr>
      <th>From date:</th>
      <td><%=change_format_to_long(@exam.from_date)%></td>
      
    </tr>
    <tr>
      <th>To date:</th>
      <td><%=change_format_to_long(@exam.to_date)%></td>
    </tr>
</table>

<% for group in  @exam.groups.find(:all)  -%>
  <div id="students">
      <h2 style="margin:20px 0px 0px 0px; padding:0px; color:#bd2e75">
        <%= group.name  %> &nbsp;
         <%if find_marks(@exam,group).blank?%> 
        <span style="font-size:12px"><%= link_to "Enter marks",new_group_exam_mark_path(group.id,@exam.id)%></span></h2>
         <%else%>
        <%= link_to "Edit marks",edit_group_exam_mark_path(group.id,@exam.id,1)%>
       <%end%>
       <table class="student_list" border="1"> 
          <tr><th> Subject </th> <th> Maximum mark </th> <th>  Passing mark </th><th>Exam date</th><th>From time</th><th>To time</th></tr>
         <% ExamSubject.find(:all, :conditions => ['group_id = ? and exam_id = ?', group.id, @exam.id ]).each do |exam_subject| %>
         <tr>
             <td><%= exam_subject.subject.name%></td>
             <td><%= exam_subject.maximum_marks %></td>
             <td><%= exam_subject.passing_marks %></td>
             <td><%= exam_subject.exam_date.strftime('%d-%m-%Y') unless exam_subject.exam_date.nil? %></td>
             <td><%= exam_subject.from_time.strftime('%H:%M') unless exam_subject.from_time.nil? %></td>
             <td><%= exam_subject.to_time.strftime('%H:%M') unless exam_subject.to_time.nil? %></td>
         </tr>
       <%end%> 
    </table>
    <br />
  </div>  
 <% end -%>
<%if current_user.has_role?('admin')%>
  <div class="btns">
      <span><%= button_to 'Edit record', edit_exam_path(@exam),:method => :get %> &nbsp;</span>
  </div> 
<%end%>

