<h1 class ="heading left">Attendance report</h1>
 <div class="clear"></div>
 <hr />

 
 <% form_for(:report, :url => admin_attendance_reports_path, :html => {:id => 'main-form',:method => :get}) do |f| %>

Class:<%= f.select :group_id, all_groups,:selected => (@group.id unless @group.nil?), :class => 'group_id'%>

Subject:<%= f.select :subject_id, find_all_subjects,:selected => (@subject.id unless @subject.nil?)%>
<div id="attendance_by_date" style="display:none;">
<br />
 Date:<%= f.date_select :date,:prompt=>{:day=>'Select day', :month=>'Select month', :year=>'Select year'}%>

<div style="float:right;"><%= link_to_function "All Attendance" ,"jQuery('#attendance_without_date').show(); jQuery('#attendance_by_date').hide();" %> 
</div>
</div>
<div id="attendance_without_date">
<div style="float:right;"><%= link_to_function "Attendance by date" ,"jQuery('#attendance_without_date').hide(); jQuery('#attendance_by_date').show();" %> 
</div>
</div>

<br />
<div style="padding-left:50px;"> <%= f.submit "Get report" %>&nbsp;&nbsp;&nbsp;&nbsp;
</div>
<br />
<%end%>







<%= observe_field("report_group_id", :frequency => 1,
                  :before => "jQuery('#spinner1').show();",
                  :success => "jQuery('#spinner1').hide();",
                  :url => {:action=>'render_subjects'}, 
				    :method => :get,
                  :with => "'group_id=' + value") %>

 <%= image_tag("spinner.gif",
               			:border => 0,
              			:id => "spinner1",
			        :style =>"display: none;" ) %> 


 <%unless @students.nil?%>
<h1 class ="heading left">Class:<%= @class.name%>, Subject:<%= @subject.name%></h1>
  <table class="student_group" width="100%" border="1" cellpadding="5px">
   <th>Student name</th>
   <th>Percentage</th>
<%i=0%>
  <%@students.each do |student|%>
  <tr>
    <td><%= student.name%></td>
    <td><%= @percentage[i].nil? ? 0 : @percentage[i]%>%</td>
  </tr>
<%i+=1%>
  <%end%>
   </table>
 <%end%>

<%unless @students_attendance.nil?%>
   <h1 class ="heading left">Class:<%= @class.name%>, Subject:<%= @subject.name%>, Date:<%= @date%></h1><br />
   <h1 class ="heading left">Present students</h1>
  <table class="student_group" width="100%" border="1" cellpadding="5px">
   <th>Student name</th>

  <%@students_attendance.each do |students_attendance|%>
  <tr>
    <td><%= students_attendance.student.name%></td>
   
  </tr>

  <%end%>
   </table>
 <%end%>
