<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  	<title><%= configatron.site_name%></title>
   	<%= stylesheet_link_tag 'style','redmond/jquery-ui-1.7.2.custom'%>
  	<%=javascript_include_tag 'jquery-1.3.2.min','jquery-ui-1.7.2.custom.min','jrails','datepicker','jquery.cookie','jquery.simplyCountable.js','facebox','jquery.corner','dropdown.js'%>

	<script type="text/javascript">
     		checked = false;
     		function checkedAll () {
       		if (checked == false){checked = true}else{checked = false}
       		for (var i = 0; i < document.getElementById('main-form').elements.length; i++) {
       		document.getElementById('main-form').elements[i].checked = checked;
      		 }
    		}
   	</script>
	
  	<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date', altFormat: 'dd-mm-yy' }) 
			  });
        jQuery(function() {
			  jQuery("#date1").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date1', altFormat: 'dd-mm-yy' }) 
			  });
	</script>
	
	<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date1").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date1', altFormat: 'dd-mm-yy' }) 
			  });
	</script>
	
	
	<script type="text/javascript">
      	jQuery(document).ready(function() {
      	jQuery('a[rel*=facebox]').facebox() })
	</script>
</head>

<body>
 <div id="body_outer_wrapper">
  <div id="body_wrapper">
     <div id="header">
    
       
	<div class="header_links">
	<%if current_user%>
	       <ul>    	     
          
        
		            <li><%= link_to "Go to application", root_path %>|</li
      
		            <li class='<%= request.request_uri == "/admin/users/#{current_user.id}/edit"? 'active': 'link' %>'> 
                          <%= link_to "My account",edit_admin_user_path(current_user) %>|</li> 
                          <%unless current_user.has_role?('super_admin')%>
                            <li><%= link_to "School Details",admin_school_path(find_school(current_user)) %>|</li> 
                          <%end%>
		           <li><%= link_to "Logout", logout_path %></li>
                   <br /><br /><br />
                 <%admin = current_user.has_role?('admin') ? current_user : User.find(current_user.parent_id)%> 
		         <%school = School.find(:first,:conditions=>['administrator_id=?',admin.id])%>
                 <%academic_year = AcademicYear.current_academic_year_school(school.id)%>
                 <%= academic_year.identification_name%>  
         	</ul>
              
        		<%else%>

        	<ul>
          		<li><%= link_to "Login", login_path %></li>
          	</ul>	
       
        		<%end%>	
	 </div>
	 <%= render :partial => 'shared/site_heading' %>
			 
		<% if current_user %> 
       <div class = 'clear'> </div>
       <% if request.request_uri != "/admin/users/#{current_user.id}/edit"%> 
      <div id="menu" >
      	  
            	<ul>
          <%if current_user.has_role?('super_admin')%>
            <li class='<%= request.request_uri =~ /schools/? 'active': 'link' %>'> <%= link_to "Schools list", admin_schools_path %></li>
          <%else%>
            <li class='<%= request.request_uri =~ /schools/? 'active': 'link' %>'> <%= link_to "Teachers list", admin_users_path %></li>
         <%end%>
            <li class='<%= request.request_uri =~ /message_templates/? 'active': 'link' %>'> <%= link_to "Saved Messages", admin_message_templates_path%>  </li> 
            <li class='<%= request.request_uri =~ /tags/? 'active': 'link' %>'> <%= link_to "Tags", admin_tags_path %> </li> 
           <li class='<%= request.request_uri =~ /class_reports/ || request.request_uri =~/class_reports/ || request.request_uri=~/class_reports/ || request.request_uri=~/teacher_reports/ || request.request_uri=~/tag_reports/ || request.request_uri=~/month_reports/ ? 'active': 'link' %>'> <%= link_to "Reports", admin_class_reports_path %> </li> 
 
<li class='<%= request.request_uri =~ /subjects/? 'active': 'link' %>'> <%= link_to "Master records", admin_subjects_path %></li>
<li class='<%= request.request_uri =~ /students/? 'active': 'link' %>'> <%= link_to "Admissions", admin_students_path %></li>

 </ul>
   </div>
   <div id = 'report-links'>
   <%if request.request_uri =~/class_reports/ or request.request_uri=~/class_reports/ or request.request_uri=~/teacher_reports/ or request.request_uri=~/tag_reports/ or request.request_uri=~/month_reports/  %>
   		<ul>
   		<li class='<%= request.request_uri =~ /class_reports/? 'active': 'link' %>'> <%= link_to "Class wise reports",admin_class_reports_path%>| </li> 
   		 <li class='<%= request.request_uri =~ /teacher_reports/? 'active': 'link' %>'><%= link_to "Teacher wise reports",admin_teacher_reports_path%>| </li>
   		 <li class='<%= request.request_uri =~ /tag_reports/? 'active': 'link' %>'><%= link_to "Tag wise reports",admin_tag_reports_path%> |</li>
  	   <li class='<%= request.request_uri =~ /month_reports/? 'active': 'link' %>'><%= link_to "Monthly reports",admin_month_reports_path%> |</li>
   </ul>
   <%end%>
   </div>
 <div id = 'report-links'>
  <%if request.request_uri =~ /subjects/ or request.request_uri =~ /academic_years/ or request.request_uri =~ /groups/ %>
   <ul>
<li class='<%= request.request_uri =~ /subjects/? 'active': 'link' %>'> <%= link_to "Subjects", admin_subjects_path %></li>
<li class='<%= request.request_uri =~ /academic_years/? 'active': 'link' %>'> <%= link_to "Academic Years", admin_academic_years_path %></li>
<li class='<%= request.request_uri =~ /groups/? 'active': 'link' %>'> <%= link_to "Classes", admin_groups_path %></li>
 </div>
 <%end%>
<%end%>
<%end%>
</div> <!-- end of header -->
<%= render :partial => 'shared/notice' %>
<br />
<div id="content_wrapper">
    	<div id="wrapper">		  
		 <%= yield  %>
	</div>
</div>

<div class="clear" ></div>
</div>
</div>

<%= render :partial => 'shared/footer' %>
	
<script type="text/javascript">
        jQuery("#body_wrapper").corner("top 10px")
	jQuery("#message_wrapper").corner("corner 5px")
        jQuery(".message_div_top").corner("top 5px")
        jQuery(".message_left").corner("corner 10px")
        jQuery(".message_right").corner("corner 10px")
	jQuery("#menu").corner("corner 5px")
</script>	

</body>	
</html>

