<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  	<title><%= configatron.site_name%></title>
   	<%= stylesheet_link_tag 'style', 'jquery-ui-1.7.2.cust'%>  
<<<<<<< HEAD:app/views/layouts/login.html.erb
        <%=javascript_include_tag 'jquery-1.3.2.min','jquery-ui-1.7.2.custom.min', 'jquery.corner', 'jquery.watermarkinput' %>
=======
       <%=javascript_include_tag 'jquery-1.3.2.min','jquery-ui-1.7.2.custom.min','jrails','jquery.corner'%>
>>>>>>> 9aa7f8f25dedeb00bdd235496fbb260a1b349c02:app/views/layouts/login.html.erb
</head>

<body>
 <div id="login_outer_wrapper">
  <div id="login_wrapper">
 <%= yield  %>
 </div>
</div>
<%= render :partial => 'shared/footer' %>
</body>	
</html>


