<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  	<title><%= configatron.site_name%></title>
   	<%= stylesheet_link_tag 'style','jquery.treeview','datepicker','jquery-ui-1.7.2.custom'%>
  	<%=javascript_include_tag 'jquery-1.3.2.min','jquery-ui-1.7.2.custom.min','jrails','datepicker','jquery.cookie','jquery.simplyCountable.js','facebox','jquery.corner'%>

	<script type="text/javascript">
     		checked = false;
     		function checkedAll () {
       		if (checked == false){checked = true}else{checked = false}
       		for (var i = 0; i < document.getElementById('main-form').elements.length; i++) {
       		document.getElementById('main-form').elements[i].checked = checked;
      		 }
    		}
   	</script>
	
  	<script type="text/javascript">
       	jQuery(function() {
			  jQuery("#date").datepicker({showOn: 'button', buttonImage: '/images/calendar.gif', buttonImageOnly: true, altField: '#date', altFormat: 'dd MM, yy' }) 
			  });
	</script>
	
	<script type="text/javascript">
      	jQuery(document).ready(function() {
      	jQuery('a[rel*=facebox]').facebox() })
	</script>
</head>
<body>
<div id="header">
	<div class="header_links">
		<%if current_user%>

			<ul>
		  <%if current_user.has_role?('super_admin') || current_user.has_role?('admin')%>
          <li class='<%= request.request_uri == "/users"? 'active': 'link' %>'> <%= link_to "Users list", users_path %>| </li> 
         <%end%>
              <li class='<%= request.request_uri == "/users/#{current_user.id}/edit"? 'active': 'link' %>'> <%= link_to "Settings",edit_user_path(current_user) %>| </li> 
          		<li><%= link_to "Logout", logout_path %></li>
         	</ul>
        
        		<%else%>
        	<ul>
          		<li><%= link_to "Login", login_path %></li>
          	</ul>	
        		<%end%>	
	 </div>
         <div id = "site_heading">
		<h1>School IT<span> - Short Message Service</span></h1>
	 </div>
			 
		<% if current_user %> 
      	<div id="menu">
            	<ul>
         <% if request.request_uri == "/messages/new"%>
			    <li class='<%= request.request_uri == "/messages/new"? 'active': 'link' %>'> <%= link_to "New Message", new_message_path%></li>
			 
			  <%elsif request.request_uri == "/"%>
			  <li class='<%= request.request_uri == "/"? 'active': 'link' %>'><%= link_to "New Message", new_message_path %></li>
			  <%else%>
			  <li><%= link_to "New Message", new_message_path %></li>
			<%end%>
			<li class='<%= request.request_uri =~ /students/? 'active': 'link' %>'> <%= link_to "Students List", students_path%> </li> 
              <li class='<%= request.request_uri =~ /message_templates/? 'active': 'link' %>'> <%= link_to "Saved Messages", message_templates_path%>  </li> 	
			<li class='<%= request.request_uri =~ /groups/? 'active': 'link' %>'><%= link_to "Classes",    groups_path%></li>
                <li class='<%= request.request_uri =~ /schedules/? 'active': 'link' %>'><%= link_to "Schedules",  schedules_path%></li>
                    <li class='<%= request.request_uri == "/messages/"? 'active': 'link' %>'><%= link_to "Sent messages", messages_path %></li>
              <li class='<%= request.request_uri =~ /emails/? 'active': 'link' %>'><%= link_to "Emails", emails_path%></li>
         		<li class='<%= request.request_uri =~ /letters/? 'active last': 'link last' %>'><%= link_to "Letters", letters_path%></li>
                 </ul>
          </div>
         	<%end%>
</div> <!-- end of header -->

<div id="notice">
   		<p style="color:green"><%= flash[:notice] %></p>
   		<p style="color:red"><%= flash[:error] %></p>
</div> 

<div id = 'message_wrapper'>			  
	<div id = 'message'>		  
		 <%= yield  %>
	</div>
</div>

<div class="clear" ></div>
	
<script type="text/javascript">
 	jQuery("#header1").corner("corner 10px")
	jQuery("#message_wrapper").corner("corner 5px")
	jQuery("#meXnu").corner("corner 5px")
</script>	
</body>	
</html>

